<!-- About Section Start -->
<div class="rs-about style11 mt-70 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/new/2.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">
                        About us
                    </div>
                    <h2 class="title purple-color mb-30">Welcome to Charotar Education Society
                    </h2>
                    <p class="desc mb-45">
                        Charotar Education Society, Anand, which was established on 16th April 1916 by the "Gem of
                        Charotar" Shri Motibhai Amin Saheb with a view to developing higher education in the Charotar
                        Pradesh, the region between the Mahi and Vatrak rivers extending from Vasad to Kheda. The
                        Constitution of the Society was framed by Late Shri Vithalbhai Patel, the elder brother of
                        Sardar Vallabhabhai Patel, who played an active role in the preparation of the Indian
                        Constitution.
                    </p>
                </div>
                <div class="btn-part">
                    <a class="readon purple-btn" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->