<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Social Activity</h1>
                <ul>
                    <li>
                        <a class="active" routerLink="/home/main" routerLinkActive="active">Home</a>
                    </li>
                    <li>social-activity</li>
                </ul>
            </div>
        </div>
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="col-lg-12 md-mb-50">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">
                            <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">

                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn active" id="prod-schoolE-tab" data-bs-toggle="tab"
                                        href="#" data-bs-target="#prod-schoolE" role="tab" aria-controls="prod-schoolE"
                                        aria-selected="false">Activity</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="prod-all-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#prod-all" role="tab" aria-controls="prod-all"
                                        aria-selected="true">Initiative</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="prod-schoolG-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#prod-schoolG" role="tab" aria-controls="prod-schoolG"
                                        aria-selected="false">Camp</a>
                                </li>
                                <!-- <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#prod-instructor" role="tab" aria-controls="prod-instructor"
                                        aria-selected="false">Other</a>
                                </li> -->
                            </ul>
                            <div class="tab-content tabs-content" id="myTabContent">
                                
                                <div class="tab-pane fade show active" id="prod-schoolE" role="tabpanel"
                                    aria-labelledby="prod-schoolE-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Performing Arts Activities. </h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Activity-performing-art.jpg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p style="text-align: justify;font-size: 18px;color: black;"
                                                                    class="zoom-1">
                                                                    Strongly believing in the holistic development of
                                                                    students, CES has a dedicated
                                                                    centre for activities related to Theatre, Music,
                                                                    Drawing, Designing, Dance and
                                                                    animation for students. Here experts from respective
                                                                    field groom students and
                                                                    member of community to hone their talent in such
                                                                    performing arts.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Opportunities in Sports .</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Activity-project-arjun-sports.jpeg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Through projects like “Project Arjun”, CES strive to
                                                                    help students
                                                                    excel in sports and other physical activities too.
                                                                    The dedicated training
                                                                    centre for shooting sports, crickets etc. are among
                                                                    most popular in student
                                                                    community. Student of CES has proved their mettle by
                                                                    competing and winning at
                                                                    national and state level tournaments in various
                                                                    sports and games.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Organic and Food Festival – Chatkaro</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/9.JPG" class="zoom"
                                                                    alt="" style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    The traditional Indian food has taken off hugely at
                                                                    global scale.
                                                                    Taking note of that, CES organizes a festival titled
                                                                    “Chatkaro” for traditional
                                                                    and organic food. It is very popular among the local
                                                                    and state community.
                                                                    The central government’s goal of promoting millet
                                                                    foods has also been taken
                                                                    care through such festivals.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Project Anandam for Mental Peace and Stress Free
                                                                    Life</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/mental-peace.jpg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Charotar Education Society understands that the fast
                                                                    pace of life with peer and
                                                                    societal pressure for excelling in studies may put
                                                                    unnecessary mental burden on students.
                                                                    Hence, in order to help students come out of their
                                                                    mental stress and to improve their
                                                                    interpersonal skills, Project Anandam is launched.
                                                                    Through this project students can
                                                                    discreetly meet a counsellor for discussing and
                                                                    alleviating the stress causing issues.
                                                                    Such projects also help in keeping students away
                                                                    from malpractices of tobacco consumption
                                                                    and substance abuse.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Senior Citizen Club</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/senior-citizen-club.jpg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    The most important ocean of experience and wisdom
                                                                    any society has are its senior citizens.
                                                                    They are not only a treasure but also light house of
                                                                    future generation.
                                                                    Valuing the contribution of senior citizens, CES has
                                                                    a dedicated club of senior
                                                                    member of our society where they can discuss, guide
                                                                    and share their experience
                                                                    with younger generation on facets of life.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Statue Cleaning</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Statue-Cleaning.JPG"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Understanding and valuing the importance of local,
                                                                    state and national their statues are
                                                                    various places are installed by various bodies. But
                                                                    with time the neglection of such
                                                                    monuments detach the younger generation from their
                                                                    heroes. Hence we organize the
                                                                    activities of cleaning statues, in Charotar region,
                                                                    of such dignitaries through
                                                                    volunteering by our students and esteemed members.
                                                                    This way we try to preserve
                                                                    the legacy of our stalwarts.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Spreading awareness for superstition removal
                                                                    (AndhshraddhaNivaran)</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/16.jpg" class="zoom"
                                                                    alt="" style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    The superstition, Andhashraddha, is still prevalent
                                                                    in some members of society, especially in villages.
                                                                    CES invites esteemed member of society, scientists,
                                                                    doctors, NGO to demonstrate to public, through
                                                                    scientific demonstrations, the importance of ration
                                                                    and logical thinking in helping them give up
                                                                    their superstitions.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Left-over food distribution</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/17.JPG" class="zoom"
                                                                    alt="" style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    We volunteer in collection of leftover foods from
                                                                    places where occasions are held including
                                                                    those at marriage functions, restaurants etc. The
                                                                    food is then distributed to needy people,
                                                                    and even to animal houses, in hygienic packets. For
                                                                    that we have dedicated van and a team of volunteer.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane tab fade " id="prod-all" role="tabpanel"
                                    aria-labelledby="prod-all-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-70 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Initiative Fee concession to Widow Mother Child.
                                                                </h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/1.jpg" class="zoom"
                                                                    alt="" style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p style="text-align: justify;font-size: 18px;color: black;"
                                                                    class="zoom-1">Charotar Education Society in
                                                                    committed to the education of every child hence
                                                                    provides concession in school and college fees to
                                                                    those students who lost their father.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Fee concession to Army men’s Child.</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/1.jpg" class="zoom"
                                                                    alt="" style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Concession in fees is also given to the children of
                                                                    guards of national security, Army men.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Staff Medical Insurance. </h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/1.jpg" class="zoom"
                                                                    alt="" style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Catering to the needs of health of staff, CES
                                                                    provides the medical
                                                                    insurance facility to all of its staff members. The
                                                                    medical expense incurred on various diseases,
                                                                    operation and other ailments has proved boon for
                                                                    employees. We have helped many of our employees
                                                                    in their medical bills. The few examples are Kaushik
                                                                    Bhai, Bhojanalya Staff and a sweeper ben. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Tie-up with Red Cross Society.</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Tie-up.jpg" class="zoom"
                                                                    alt="" style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    <b style="color: red;">“Every drop of blood
                                                                        counts”.</b> Keeping this motto in mind, CES has
                                                                    forged an agreement with Red Cross Society.
                                                                    Through Red Cross Society, the blood donation camps
                                                                    are regularly. It has saved lives of thousands of
                                                                    people.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Tie-up with Shivani Foundation</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Initiative-shivani-foundation.jpeg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Through a tie-up with <b style="color: #203154;">Dr.
                                                                        Shivani Bhatt foundation</b>, CES has helped
                                                                    many female students from underprivileged section of
                                                                    society in their education needs and helping them in
                                                                    their medical needs also.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3 class="size">Vaidarbhi Tapovan</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Vaidarbhi.jpg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    This is an initiative wherein CES is
                                                                    working with Children University, Gandhinagar for
                                                                    integrated maternal and child services, including
                                                                    mental and spiritual health services.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-schoolG" role="tabpanel"
                                    aria-labelledby="prod-schoolG-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Staff Health Check-up camps</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Staff-Health-Checkup-camps.jpg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Regular camps are organized for all CES family
                                                                    members in order to
                                                                    keep them fit, vigilant and healthy.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Cervical cancer Vaccination Camp</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/Cervical-Cancer.jpg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8 md-pt-35">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    CES and various Donner’s is providing free Cervical
                                                                    Cancer Vaccine to
                                                                    female student of various schools it manages.
                                                                    Hundreds of such females
                                                                    can now be relieved that they won’t suffer from such
                                                                    deadly diseases.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-10 md-pt-0 md-pb-40">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="">
                                                                <h3>Breast Cancer Checkup camp</h3>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-xl-4">
                                                                <img src="assets/images/social/breast-Cancer.jpg"
                                                                    class="zoom" alt=""
                                                                    style="width:100%; height: 250px;">
                                                            </div>
                                                            <div class="col-lg-8 col-md-6 col-xl-8">
                                                                <p
                                                                    style="text-align: justify;font-size: 18px;color: black;">
                                                                    Keeping the importance of early indication of any
                                                                    malfunction
                                                                    in body, Brest Cancer Check-up camps too are
                                                                    regularly
                                                                    organized.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-instructor" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                    <div class="row">

                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/social/degrees/ces performing art - dn campus.jpg"
                                                                    alt="ces performing art - dn campus">
                                                                <div class="title-part">
                                                                    <h4 class="title ctitle">CES Performing Arts And
                                                                        Fine Arts Academy
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title ctitle"><a
                                                                            href="http://http//www.cesociety.in/lalitkala/index.aspx"
                                                                            target="_blank">CES Performing Arts And
                                                                            Fine Arts Academy</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-266789"> </a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://http//www.cesociety.in/lalitkala/index.aspx"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>