<div id="rs-categories" class="rs-categories gray-bg style1 pt-94 pb-70 md-pt-64 md-pb-40">
    <div class="container">
        <div class="row y-middle mb-50 md-mb-30">
            <div class="col-md-12 sm-mb-30" style="text-align: Center;">
                <div class="sec-title">
                    <div class="sub-title primary">Academic</div>
                    <h2 class="title mb-0">Our Top Categories </h2>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="btn-part text-end sm-text-start">
                    <a href="#" class="readon">View All Categories</a>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                <a class="categories-item" routerLink="/academic/school">
                    <div class="icon-part">
                        <img src="assets/images/categories/icons/1.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Schools</h4>
                        <span class="courses">17 Schools</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                <a class="categories-item" routerLink="/academic/colleges">
                    <div class="icon-part">
                        <img src="assets/images/categories/icons/2.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Colleges</h4>
                        <span class="courses">13 Colleges</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                <a class="categories-item"  routerLink="/academic/hostels">
                    <div class="icon-part">
                        <img src="assets/images/categories/icons/3.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Hostels</h4>
                        <span class="courses">04 Hostels</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                <a class="categories-item"  routerLink="/academic/others">
                    <div class="icon-part">
                        <img src="assets/images/categories/icons/4.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Others</h4>
                        <span class="courses">07 Department</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>