<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Rahatokarsh Fund (Donation)</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Rahatokarsh Fund (Donation)</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Blog Section Start -->
        <div class="rs-inner-blog orange-color pt-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="blog-deatails">
                    <!-- <div class="bs-img">
                        <a href="#"><img src="assets/images/blog/inner/1.jpg" alt=""></a>
                    </div> -->
                    <div class="intro-info-tabs intro-section gray-bg " style="margin-top: 10px;">
                        <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-fundE-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#prod-fundE" role="tab" aria-controls="prod-fundE"
                                    aria-selected="true">English</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-fundG-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#prod-fundG" role="tab" aria-controls="prod-fundG"
                                    aria-selected="false">Gujarati</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-donner-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#prod-donner" role="tab" aria-controls="prod-donner"
                                    aria-selected="false">View Donner</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-student-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#prod-student" role="tab" aria-controls="prod-student"
                                    aria-selected="false">Beneficiary Students</a>
                            </li>
                            <!-- <li class="nav-item tab-btns">
                                <a class="nav-link tab-btn" href="assets/images/Donner/View_Donner.pdf" target="_blank">View Donner</a>
                            </li>
                            <li class="nav-item tab-btns">
                                <a class="nav-link tab-btn" href="assets/images/Donner/View_Beneficiary.pdf" target="_blank">Beneficiary Students</a>
                            </li> -->
                        </ul>


                        <div class="tab-content tabs-content" id="myTabContent">
                            <div class="tab-pane tab fade show active" id="prod-fundE" role="tabpanel"
                                aria-labelledby="prod-fundE-tab">

                                <div class="blog-full">
                                    <div class="blog-desc">
                                        <div class="title mb-40 md-mb-15">
                                            <h3 class="text-part">The objective of Rahatokarsh Fund
                                            </h3>
                                        </div>
                                        <p>
                                            The objective of ‘Rahatokarsh Fund’ is to provide financial aid to the poor
                                            students who are brilliant and studying in any of the institutions (from KG
                                            to PG) managed by Charotar Education Society, Anand. To assist the students
                                            who are not receiving any scholarship or economical help and who are willing
                                            to study further in order to build their career.
                                        </p>
                                        <p>
                                            Shri Ketankumar P. Patel administers the said fund in a transparent manner.
                                        </p>
                                        <p>
                                            Charotar Education Society has initiated the scheme of ‘Rahatokarsh Fund’
                                            as the part of centenary celebration to be organised from April 2015 to
                                            April 2016. Details of the interest of the accumulated fund, names of the
                                            donors and the students benefitted are displayed online on www.cesociety.in.
                                        </p>
                                        <p>
                                            “While donating doesn’t look at what you have in hands, But consider what
                                            you have in your heart.”
                                        </p>
                                        <p>
                                            Charotar Education Society was established with the motive of helping and
                                            educating the children/students of Charotar region and it has been playing
                                            its role in the society since 1916. Today the institution has earned name
                                            and fame at international level. I would like to share the idea that has
                                            occurred to me on the occasion of the centenary celebration of Charotar
                                            Education Society.
                                        </p>
                                        <p>
                                            People often come to me with a request to provide exemption for fees to some
                                            bright students who are keen to study but either they are orphans or their
                                            parents are financially incapable and deprived of any other source of
                                            income. But still they economise and try to manage for the expenditures for
                                            their children’s bright future.
                                        </p>
                                        <p>
                                            In fact, Charotar Education Society has been assisting the poor students
                                            since the year of the establishment of the institution. More students will
                                            be benefitted if we manage to gather a good amount and so in this 99th year
                                            of Society, I am looking forward to raise fund named as ‘Rahatokarsh Fund’.
                                            This very thought of the present reality of the society and the thought that
                                            how many students will be made scapegoat by this era of price hike gives me
                                            a lot of pain. So I want to initialize this new path to growth where I would
                                            like to request the well – wishers of Society to donate a good amount.
                                        </p>
                                    </div>
                                    <!-- <blockquote>
                                        <p>1. The residents of Anand will not interfere in the administration of the
                                            school.
                                        </p>
                                        <p>2. They should pay Rs. 2000/- to compensate the loss during the first three
                                            years.</p>
                                    </blockquote> -->
                                    <div class="blog-desc mb-40">
                                        <p>
                                            You can deposit your valuable donation to the below mentioned bank. Moreover
                                            the amount of donation will be exempted from income tax under Clause 80 – G
                                            (5).
                                        </p>
                                        <ul>
                                            <li> Name of Bank : State Bank of India, </li>
                                            <li> Sardar Gunj Branch, Anand.</li>
                                            <li> Account Name : Rahatokarsh Fee Fund.</li>
                                            <li> IFS Code: SBIN0060137</li>
                                            <li>Account No : 66016425223</li>
                                        </ul>
                                        <ul style="float: right;">
                                            <li> Thanking You, </li>
                                            <li> Ketankumar P. Patel</li>
                                            <li> (Secretary)</li>
                                            <li> Charotar Education Society,</li>
                                            <li>Anand.</li>
                                        </ul>
                                    </div>
                                    <!-- <div class="blog-img mb-40">
                                <img src="assets/images/blog/inner/2.jpg" alt="">
                            </div>
                            <div class="blog-desc mb-40">
                                <p>
                                    Phosfluorescently engage worldwide methodologies with web-enabled technology.
                                    Interactively coordinate proactive e-commerce via process-centric “outside the box”
                                    thinking. Completely pursue scalable customer service through sustainable
                                    potentialities. Collaboratively administrate turnkey channels whereas virtual e-tailers.
                                    Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower
                                    fully researched growth strategies and interoperable internal or “organic” sources.
                                </p>
                            </div>
                            <ul class="unorder-list mb-20">
                                <li>New Construction Benefit of Service</li>
                                <li>Renovations Benefit of Service</li>
                                <li>Historic Renovations and Restorations</li>
                                <li>Additions Benefit of Service</li>
                                <li>Rebuilding from fire or water damage</li>
                            </ul>
                            <h2 class="title">Experts Always Ready to Maximizing Products</h2>
                            <div class="blog-desc">
                                <p>
                                    Proactively fabricate one-to-one materials via effective e-business. Completely
                                    synergize scalable e-commerce rather than high standards in e-services. Assertively
                                    iterate resource maximizing products after leading-edge intellectual capital. Capitalize
                                    on low hanging fruit to identify a ballpark value added activity to beta test. Override
                                    the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion
                                    along the information highway will close the loop on focusing solely on the bottom line.
                                </p>
                            </div>
                            <h4 class="sm-title">Experts Always Ready to Maximizing Products</h4>
                            <div class="blog-desc">
                                <p>
                                    Interactively procrastinate high-payoff content without backward-compatible data.
                                    Quickly cultivate optimal processes and tactical architectures. Completely iterate
                                    covalent strategic theme areas via accurate e-markets. Globally incubate standards
                                    compliant channels before scalable benefits. Quickly disseminate superior deliverables
                                    whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change
                                    before vertical architectures.
                                </p>
                            </div> -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="prod-fundG" role="tabpanel" aria-labelledby="prod-fundG-tab">
                                <div class="content">
                                    <div id="accordion" class="accordion-box">
                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <div class="title mb-40 md-mb-15">
                                                    <h3 class="text-part">રાહતોત્કર્ષ ફંડ સ્થાપવાનો હેતુ :-
                                                    </h3>
                                                </div>
                                                <p>
                                                    ચરોતર એજ્યુકેશન સોસાયટી સંચાલિત સંસ્થાઓમાં અભ્યાસ કરતા તેજસ્વી
                                                    તારલાઓ કે જેમની આર્થિક પરિસ્થિતિ નબળી છે તેમજ જેમને અન્ય કોઈ
                                                    પ્રકારની મદદ નથી કે અભ્યાસ માટે કોઈ પણ પ્રકારની શિષ્યવૃત્તિ મળતી નથી
                                                    તેવા બાળકો-વિદ્યાર્થીઓ આગળ અભ્યાસ કરી શકે તે હેતુથી તેમને આર્થિક
                                                    રીતે સહાયભૂત થવું.
                                                </p>
                                                <h4>રાહતોત્કર્ષ ફંડનું કાર્યક્ષેત્ર</h4>
                                                <p>
                                                    ચરોતર એજ્યુકેશન સોસાયટી સંચાલિત કોઈ પણ સંસ્થાના તેજસ્વી તારલાઓ
                                                    કે.જી. થી પી.જી. સુધીમાં અભ્યાસ કરતાં આ શિષ્યવૃતિનો લાભ મેળવી શકે
                                                    છે.
                                                </p>
                                                <h4>રાહતોત્કર્ષ ફંડનાં મુખ્ય વહીવટકર્તા:-</h4>
                                                <p>
                                                    મંત્રીશ્રી,કેતનભાઈ પી.પટેલ, ચરોતર એજ્યુકેશન સોસાયટી,આણંદ.
                                                </p>
                                                <h4>રાહતોત્કર્ષ ફંડનું પારદર્શક સંચાલન:-</h4>
                                                <p>
                                                    ચરોતર એજ્યુકેશન સોસાયટીની સ્થાપનાના ૯૯ મા વર્ષની ભવ્યાતીભવ્ય
                                                    ઊજવણીનાં ભાગરૂપે સ્થપાયેલ રાહતોત્કર્ષ ફંડનું પારદર્શક સંચાલનના
                                                    હેતુસર સમગ્ર ફંડની મૂડી તેમજ તેના વ્યાજની વિગતો દાતાશ્રીના નામ તેમજ
                                                    લાભાર્થી વિદ્યાર્થીઓના નામ સાથે દર્શાવવામાં આવે છે.એકત્રિત થયેલ
                                                    મૂડીનું વ્યાજ વિદ્યાર્થી સહાય માટે ઉપયોગમાં લેવામાં આવશે.
                                                </p>
                                                <p>
                                                    “દાન આપતી વખતે હાથમાં શું હતું એ નહીં,
                                                    પરંતુ દિલમાં શું હતું એ જોવાની જરૂર છે.”
                                                </p>
                                                <p>
                                                    જેની સ્થાપના પાછળનો હેતુ ચરોતરના નબળા,પછાત તેમજ મધ્યમ વર્ગના
                                                    વિદ્યાર્થીઓને શિક્ષિત કરવાનો હતો એવી ચરોતર એજ્યુકેશન સોસાયટી છેલ્લાં
                                                    ૯૮ વર્ષોથી સતત પોતાની સામાજિક જવાબદારી અદા કરી રહી છે.જેની સ્થાપના
                                                    માત્ર ચરોતરના સામાન્ય પરિવારનાં બાળકો માટે થઇ હતી તે અત્યારે વિશાળ
                                                    વટવૃક્ષ બની સમગ્ર ગુજરાતના તમામ લોકો માટે પોતાનું સામાજિક ઋણ અદા કરી
                                                    રહી છે,ત્યારે સોસાયટીનાં ૯૯ મા વર્ષના આ મંગલપ્રવેશ સમયે એક વિચાર
                                                    મનમાં સ્ફૂર્યો છે તેને તમારી આગળ વહેતો કરું છું.
                                                </p>
                                                <p>સમાજના લોકો મારી સમક્ષ વારંવાર રજૂઆત લઈને આવે છે કે આપણી સંસ્થામાં
                                                    ઘણાં બાળકો છે કે જેમને ભણવું છે.પરંતુ તેમાંના કેટલાંક મા-બાપ વિહોણા
                                                    છે અથવા તો આર્થિક રીતે અત્યંત ગરીબ છે,જેમની પાસે આવકનો બીજો કોઈ
                                                    સ્ત્રોત નથી.તેમ છતાં પણ પોતાનાં બાળકોનાં ઉજ્જવળ ભવિષ્ય માટે મા-બાપ
                                                    ખુબ જ કરકસરપૂર્વક સંચાલન કરે છે.આવા તેજસ્વી તારલાંઓનું ભાવિ ન જોખમાય
                                                    તે માટે તેમની ફી માફી માટેની જોગવાઈ કરો.</p>
                                                <p>વાસ્તવમાં ચરોતર એજ્યુકેશન સોસાયટી વર્ષોથી ગરીબ વિદ્યાર્થીઓને ભણતર
                                                    માટે ફી માફીની જોગવાઈ કરી રહી છે.ત્યારે આવું કોઈ મોટું ફંડ એકત્રિત
                                                    કરાય જેનાથી વધુને વધુ વિદ્યાર્થીઓ તેના લાભાર્થી બને તે માટે
                                                    સોસાયટીના ૯૯ મા સ્થાપના વર્ષે રાહતોત્કર્ષ ફંડ ઊભું કરવાનું વિચારું
                                                    છું.</p>
                                                <p>સમાજની આ વાસ્તવિક છબી જોઇને મારું હૃદય દ્રવી ઉઠે છે કે,મોઘવારીનો આ
                                                    યુગ કેટલાં બાળકોનાં ભવિષ્યનો ભોગ લેશે? માટે હું વિકાસની આ કેડી
                                                    કંડારવાની પહેલ કરવા માગું છું.જેમાં મારી સાથે ચાલનારા
                                                    સમાજહિતેત્છકોને વિનવું છું કે આ રાહતોત્કર્ષ ફંડમાં ઉદાર હાથે દાન
                                                    આપો.</p>

                                            </div>
                                            <div class="blog-desc mb-40">
                                                <p>આપ આપણા અમૂલ્ય દાનને નીચે દર્શાવેલ બેંક ખાતામાં જમા કરાવી શકો
                                                    છો.વધુમાં આપે દાન પેટે આપેલ રકમને આવકવેરાની કલમ 80-G (5) હેઠળ
                                                    મુક્તિને પાત્ર છે.</p>


                                                <ul>
                                                    <li> બેંકનું નામ : ભારતીય સ્ટેટ બેંક , </li>
                                                    <li> સરદાર ગંજ શાખા,આણંદ. </li>
                                                    <li> ખાતાનું નામ : રાહતોત્કર્ષ ફી ફંડ</li>
                                                    <li> IFS Code: SBIN0060137</li>
                                                    <li>Account No : 66016425223</li>
                                                </ul>
                                                <ul style="float: right;">
                                                    <li> આભાર સહ, </li>
                                                    <li> મંત્રીશ્રી,</li>
                                                    <li> કેતનકુમાર પી. પટેલ</li>
                                                    <li> ચરોતર એજ્યુકેશન સોસાયટી,</li>
                                                    <li> આણંદ.</li>
                                                </ul>
                                            </div>
                                            <!-- <div class="blog-img mb-40">
                                         <img src="assets/images/blog/inner/2.jpg" alt="">
                                     </div>
                                     <div class="blog-desc mb-40">
                                         <p>
                                             Phosfluorescently engage worldwide methodologies with web-enabled technology.
                                             Interactively coordinate proactive e-commerce via process-centric “outside the box”
                                             thinking. Completely pursue scalable customer service through sustainable
                                             potentialities. Collaboratively administrate turnkey channels whereas virtual e-tailers.
                                             Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower
                                             fully researched growth strategies and interoperable internal or “organic” sources.
                                         </p>
                                     </div>
                                     <ul class="unorder-list mb-20">
                                         <li>New Construction Benefit of Service</li>
                                         <li>Renovations Benefit of Service</li>
                                         <li>Historic Renovations and Restorations</li>
                                         <li>Additions Benefit of Service</li>
                                         <li>Rebuilding from fire or water damage</li>
                                     </ul>
                                     <h2 class="title">Experts Always Ready to Maximizing Products</h2>
                                     <div class="blog-desc">
                                         <p>
                                             Proactively fabricate one-to-one materials via effective e-business. Completely
                                             synergize scalable e-commerce rather than high standards in e-services. Assertively
                                             iterate resource maximizing products after leading-edge intellectual capital. Capitalize
                                             on low hanging fruit to identify a ballpark value added activity to beta test. Override
                                             the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion
                                             along the information highway will close the loop on focusing solely on the bottom line.
                                         </p>
                                     </div>
                                     <h4 class="sm-title">Experts Always Ready to Maximizing Products</h4>
                                     <div class="blog-desc">
                                         <p>
                                             Interactively procrastinate high-payoff content without backward-compatible data.
                                             Quickly cultivate optimal processes and tactical architectures. Completely iterate
                                             covalent strategic theme areas via accurate e-markets. Globally incubate standards
                                             compliant channels before scalable benefits. Quickly disseminate superior deliverables
                                             whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change
                                             before vertical architectures.
                                         </p>
                                     </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="prod-donner" role="tabpanel"
                                aria-labelledby="prod-donner-tab">
                                <div class="content">
                                    <div id="accordion" class="accordion-box">
                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <div class="title mb-40 md-mb-15">
                                                    <h3 class="text-part">Donner's List
                                                    </h3>
                                                </div>
                                                <div style="overflow-x:auto;">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Sr No.</th>
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Name Of Donner</th>
                                                                <th scope="col">City</th>
                                                                <th scope="col">Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let c of donnerData;let i=index">
                                                                <th scope="row">{{i+1}}</th>
                                                                <td>{{c.donationDate |date}}</td>
                                                                <td>{{c.donnerName}}</td>
                                                                <td>{{c.donnerCity}}</td>
                                                                <td>{{c.amount}} ₹</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade mt-50" id="prod-student" role="tabpanel"
                                aria-labelledby="prod-student-tab">
                                <div class="content">
                                    <div class="intro-info-tabs">
                                        <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                                            <li class="nav-item tab-btns" role="presentation">
                                                <a class="nav-link tab-btn active" id="prod-all-tab"
                                                    data-bs-toggle="tab" href="#" data-bs-target="#prod-all" role="tab"
                                                    aria-controls="prod-all" aria-selected="true">All Beneficiary</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content tabs-content" id="myTabContent">
                                            <div class="tab-pane tab fade show active" id="prod-all" role="tabpanel"
                                                aria-labelledby="prod-all-tab">
                                                <div class="content white-bg">
                                                    <!-- Cource Overview -->
                                                    <div class="course-overview">
                                                        <div class="inner-box ">
                                                            <div
                                                                class="rs-degree style1 modify  pt-40 pb-70 md-pt-70 md-pb-40">
                                                                <div class="title mb-40 md-mb-15">
                                                                    <h3 class="text-part">Beneficiary Students
                                                                    </h3>
                                                                </div>
                                                                <div style="overflow-x:auto;">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Sr No.</th>
                                                                                <th scope="col">Student Name</th>
                                                                                <th scope="col">School/College Name</th>
                                                                                <th scope="col">Std/Course</th>
                                                                                <th scope="col">Refund</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr
                                                                                *ngFor="let c of beneficiaryData;let i=index">
                                                                                <th scope="row">{{i+1}}</th>
                                                                                <td>{{c.studentName}}</td>
                                                                                <td>{{c.instituteName}}</td>
                                                                                <td>{{c.course}}</td>
                                                                                <td>{{c.refundAmount}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Blog Section End -->


    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>