<app-navbar></app-navbar>
<div class="content white-bg pt-30">
    <!-- Cource Overview -->
    <div class="course-overview">
        <div class="inner-box">
            <!-- <h4> INFRASTRUCTURE AND FACILITIES</h4> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>

                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item card">
                                                <p> <b> CES believes in the total development so along with the
                                                        academics the management has
                                                        decided to introduce following Projects for total development:
                                                    </b>
                                                </p>
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="accordion-button card-link" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">Project
                                                        ADITYA:</button>
                                                </div>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Setup of Largest and First ever Micro Invertor based Solar Power
                                                        Plant for
                                                        Educational Institute in Charotar Region.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                                                        aria-expanded="false" aria-controls="collapsetwo">Project
                                                        EKLAVYA:</button>
                                                </div>
                                                <div id="collapsetwo" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">Prepare student for Life
                                                        skill, personality development and ICT for
                                                        overall progress.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">Project
                                                        E-GYAN:</button>
                                                </div>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Collecting, storing and retrieving the material from World Wide
                                                        Web in
                                                        form of presentation, eBook, animation, visuals, etc for the
                                                        student’s preparation.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">Project
                                                        Anandam:</button>
                                                </div>
                                                <div id="collapseFour" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Conduct one on one counseling sessions with the students to
                                                        assist them
                                                        in the process of resolving their interpersonal conflicts,
                                                        challenges and stressors in life due to
                                                        academics and other experiences and well as build resilience
                                                        towards developing
                                                        maladaptive patterns of coping in times of distress. </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">Project SETU:
                                                    </button>
                                                </div>
                                                <div id="collapseFive" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        All four campus has been connected over internetworking to
                                                        provide
                                                        centralized digital and accounting solutions.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                        aria-expanded="false" aria-controls="collapseSix">Project
                                                        SANGAM:</button>
                                                </div>
                                                <div id="collapseSix" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Generalized web portal to manage all institutes from single
                                                        resource.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                        aria-expanded="false" aria-controls="collapseSeven">Project
                                                        ARJUN:
                                                    </button>
                                                </div>
                                                <div id="collapseSeven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        This provides professional coaching in shooting sport and making
                                                        it more
                                                        accessible to the students.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                        aria-expanded="true" aria-controls="collapseEight">Performing Arts Academy:</button>
                                                </div>
                                                <div id="collapseEight" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        for the development of student in the field of their interest the 
                                                        management has decide to launch such academy so that every student get access to their 
                                                        interest in the field of Theater, Dance, Music, Singing, Drawing, Designing, Animation, etc. 
                                                        Expert from each field is available to present the professional training to students. </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsenine"
                                                        aria-expanded="false" aria-controls="collapsenine">Sports Academy: </button>
                                                </div>
                                                <div id="collapsenine" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body"> Provides the professional coaching to interested students and opens the 
                                                        door of opportunity for state, national and international level. 
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>