<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content pb-40 pt-md-50">
        <div id="outerContainer" class="mt-20 md-mt-70">
            <div class="pdf-container">
                <pdf-viewer [src]="src" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
                    [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                    [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
                    style="width: 100%; height: 600px;"></pdf-viewer>
            </div>
        </div>
    </div>
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>