<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content pb-100 pt-md-50">
        <div class="text-center">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman Front.png" alt="images">
                </div>      
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 2.png" alt="images">
                </div>      
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 3.png" alt="images">
                </div>      
            </div>
            <div class="row">   
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 4.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 5.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 6.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 7.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 8.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 9.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 10.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 11.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 12.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 13.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 14.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 15.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 16.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 17.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 18.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 19.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 20.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 21.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 22.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 23.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 24.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 25.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 26.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 27.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 28.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 29.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 30.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 31.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 32.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 33.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 34.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 35.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 36.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 37.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 38.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 39.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 40.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman 41.png" alt="images">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="assets/images/new/Naman Back.png" alt="images">
                </div>
            </div>

            
        </div>
    </div>
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>