<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <section class="intro-section rs-checkout  gray-bg pt-94 pb-100 md-pt-64 md-pb-70"
            style="background-image: url(../../assets/images/slider/c2.jpg);background-position:cover;">
            <div class="container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="col-lg-12 md-mb-50">

                        <div class="intro-info-tabs" style="padding-top: 20px;">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-Photo" role="tabpanel"
                                    aria-labelledby="prod-Photo-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="full-grid">
                                                    <div class="row">
                                                        <div class="footer-bottom">
                                                            <div class="container">
                                                                <div class="row mb-30">
                                                                    <div class="col-lg-2">
                                                                        <div class="footer-logo text-center">
                                                                            <a routerLink="/home/main"
                                                                                routerLinkActive="active"><img
                                                                                    src="assets/images/1001.png"
                                                                                    alt="footerLogo"></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <div class="title text-center">
                                                                            <h2
                                                                                style="color: #203154;font-weight: 600;padding-top: 30px;">
                                                                                ચરોતર એજ્યુકેશન સોસાયટી,
                                                                                આણંદ આયોજિત
                                                                            </h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        <div class="footer-logo text-center">
                                                                            <a routerLink="/home/main"
                                                                                routerLinkActive="active" ><img
                                                                                    src="assets/images/ab.png"
                                                                                    alt="footerLogo"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h2 style="color: red;padding-top: 5px;">
                                                            ચરોતર એજ્યુકેશન સોસાયટી આણંદ સંચાલિત નવરાત્રિ
                                                            મહોત્સવ
                                                            2023 નું જીવંત પ્રસારણ તા: ૧૫/૧૦/૨૦૨૩, રવિવાર
                                                            સાંજે ૭ વાગ્યા થી થશે.
                                                        </h2>
                                                        <!-- <div class="col-md-6">
                                                            <iframe width="460" height="315"
                                                                src="https://www.youtube.com/embed/EAlCDT13eak?si=_iXvB8RJJhavBtzm"
                                                                title="YouTube video player" frameborder="0"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                                allowfullscreen></iframe>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <iframe width="460" height="315"
                                                                src="https://www.youtube.com/embed/EAlCDT13eak?si=_iXvB8RJJhavBtzm"
                                                                title="YouTube video player" frameborder="0"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                                allowfullscreen></iframe>
                                                        </div> -->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="intro-section rs-checkout  gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12 md-mb-50">
                        <div class="title text-center">
                            <h2 style="font-weight: 600;">Our Navratri
                            </h2>
                        </div>
                        <div class="intro-info-tabs" style="padding-top: 20px;">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-Photo" role="tabpanel"
                                    aria-labelledby="prod-Photo-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <h4 style="color: red;text-align: center;" *ngIf="galleryImg.length==0">
                                                    Data
                                                    Not Found !</h4>
                                                <div class="row" *ngIf="galleryImg.length>0">
                                                    <div class="col-lg-6 mb-30 col-md-6"
                                                        *ngFor="let c of galleryImg | paginate: {id:'listing1', itemsPerPage: 6, currentPage: pa };let i=index">
                                                        <div class="gallery-img">
                                                            <a class="image-popup" target="_blank" href="{{c.img}}"><img
                                                                    src="{{c.img}}" alt="navratri"></a>
                                                        </div>
                                                        <div class="title text-center"
                                                            style="font-size: 20px;color: #203154;padding-top: 5px;font-weight: 600;">
                                                            {{c.title}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3" *ngIf="galleryImg.length>0">
                                                    <div class="row">
                                                        <div class="col text-end">
                                                            <pagination-controls id="listing1"
                                                                (pageChange)="pa = $event">
                                                            </pagination-controls>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>