<div id="rs-categories" class="rs-categories gray-bg style1 pt-10 pb-10 md-pt-10 md-pb-10">
    <div class="container blinking-bg">
        <div class="row y-middle">
            <ul class="text-center">
                <li>
                    <a href="#" routerLink="/more/summer-camp">
                        <p class="text-white" style="margin: 0 0 0px;font-size: 17px;padding: 0px 0 0px;">1.
                            <strong>CES Performing Arts & Fine Arts Academy <span style="font-size: 20px;">Summer Camp
                                    2024-25</span> managed by
                                Charotar Education Society. </strong>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/more/tenders">
                        <p class="text-white" style="margin: 0 0 0px;font-size: 17px;padding: 0px 0 0px;">2.
                            <strong><span style="font-size: 20px;">The Charotar Education Society is currently inviting tenders.</span></strong>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <div id="rs-categories" class="rs-categories gray-bg style1 pt- pb-10 md-pt-10 md-pb-10">
    <div class="container">
        <div class="row y-middle">
            <a href="http://chatkaro.cesociety.in/" target="_blank">
                <div class="container-fluid" style="background-color: #2c3590;border-radius: 10px;">
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <img src="./assets/images/chatkaro.jpg" alt="old" class="pt-3 pb-2">
                        </div>
                        <div class="col-lg-9 text-center">
                            <h1 class="pt-3" style="font-size: 25px;color: #f1bf22;margin-bottom: 7px;">Welcome to
                                <u><b>CES ચટકારો</b></u>
                                2024
                            </h1>
                            <h4 class="text-white" style="margin-bottom: 7px;">
                                એટલે પેહલું સુખ તે જાતે નર્યા-આપણો આહાર જ આપણું આરોગ્ય..
                            </h4>
                            <a href="http://chatkaro.cesociety.in/" target="_blank"
                                class="btn btn-sm btn-outline-white mb-3" style=" border-radius: 50px; border-color: white;
    color: white;font-size: 14px;text-transform: uppercase;"><i class="fa fa-arrow-right" aria-hidden="true"></i> View
                                More</a>
                        </div>

                    </div>

                </div>
            </a>
        </div>
    </div>
</div> -->