<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Terms & Conditions</h1>
                <ul>
                    <li>
                        <a class="active" routerLink="/home/main" routerLinkActive="active">Home</a>
                    </li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Blog Section Start -->
        <div class="rs-inner-blog orange-color pt-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="blog-deatails">
                    <!-- <div class="bs-img">
                        <a href="#"><img src="assets/images/blog/inner/1.jpg" alt=""></a>
                    </div> -->
                    <div class="intro-info-tabs intro-section gray-bg " style="margin-top: 10px;">

                        <div class="tab-content tabs-content" id="myTabContent">
                            <div class="tab-pane tab fade show active" id="prod-fundE" role="tabpanel"
                                aria-labelledby="prod-fundE-tab">

                                <div class="blog-full">
                                    <div class="blog-desc">
                                        <div class="title mb-40 md-mb-15">
                                            <h3 class="text-part">1. Online Advertising and Marketing Services
                                            </h3>
                                        </div>
                                        <p>
                                            Charotar Education Society Digital Marketing offers an assortment of services to improve the
                                            visibility of your business online. By engaging with us, we'll commit the
                                            client to these Terms of Service as outlined in the following. If you have
                                            any queries or think we can provide any help you need, don't be shy to
                                            contact our team.
                                        </p>
                                        <p>Charotar Education Society Digital Marketing provides search engine marketing, and optimization
                                            along with other similar services on the local as well as a national, and
                                            international scale. We send details on behalf of our clients to search
                                            firms which require you to sign a contract with them regarding the terms of
                                            service and conditions. These include, but aren't restricted to: Google,
                                            Yahoo, MSN/Bing, Yellowpages.com, Superpages.com, Yellowbook.com, Yelp,
                                            Localeze, TrueLocal, local.com, CitySearch, Dex, YP.com, YellowBot, Insider
                                            Pages, Merchant Circle, OnStar local newspapers, local online media,
                                            Facebook, Instagram, YouTube and a myriad of other websites. The terms and
                                            conditions of the companies listed above are in force. Charotar Education Society Digital
                                            Marketing will not divulge your details to any other company, except when it
                                            is necessary to provide advertising and marketing services for you.</p>
                                        <h3>2. Advertising Material</h3>
                                        <p>Charotar Education Society Digital Marketing has the power to make public information about your
                                            company on search engines and publishers' websites, including the ones
                                            listed in the previous paragraphs. You also grant permission to Charotar Education Society
                                            Digital Marketing to develop content that is based on the information and
                                            other materials received by you or your appointed representatives and
                                            acquired via Charotar Education Society Digital Marketing including copy sizes, formats of text
                                            and images, as well as telephone numbers, addresses such as logos, URLs,
                                            trademarks and trade names, endorsements photos of service marks as well as
                                            videos, likenesses and other images. In addition, you agree that the
                                            information and other materials that you submit to Charotar Education Society Digital Marketing
                                            are truthful and not misleading and that you have the authority to disclose
                                            this information about your services and products related to Charotar Education Society Digital
                                            Marketing. If you've contracted in partnership with Charotar Education Society Digital Marketing
                                            you grant permission to Charotar Education Society Digital Marketing to contact your customers
                                            for the sole purpose of obtaining reviews and testimonials regarding your
                                            products and services which will then be released. In addition, articles,
                                            blog posts, and press releases will be reviewed before the time they are
                                            released. The time at which these articles are published is critical to the
                                            effectiveness of the marketing campaign. So, every month's content will be
                                            considered to be approved after the content is sent to be approved unless
                                            other communications are received from the client. In addition, you
                                            authorize Charotar Education Society Digital Marketing to utilize the tracking number, and make
                                            recordings on your behalf to assist with customer service and also to notify
                                            any caller who calls to record phone numbers, depending on when and if you
                                            contract the services. Domains purchased for you will be returned within the
                                            period which is 30 (30) days following the contract is completed.
                                        </p>
                                        <h3>3. Unacceptable Practices</h3>
                                        <p>Since Charotar Education Society is determined to offer the best service possible, it is crucial
                                            to observe certain guidelines and rules that guide Charotar Education Society's activities as
                                            well as its relationship with its customers. Any actions that violate these
                                            guidelines and policies are strictly forbidden and could result in immediate
                                            suspension of services provided to customers by Charotar Education Society. These choices are
                                            completely at the discretion of Charotar Education Society. Acceptable guidelines include, but
                                            they do not limit themselves to:
                                        </p>
                                        <ul style="list-style-type:disc;">
                                            <li>pornographic and adult content which includes but is not limited to
                                                sexually explicit and sexually explicit material</li>
                                            <li>Services or products that contain explicit sexual content (e.g. Escort
                                                services) or other sexually explicit materials</li>
                                            <li>Nudity, which also includes airbrushing (exceptions permitted on a
                                                case-by-case basis, if the reason is medical or artistic reasons)</li>
                                            <li>Lingerie websites</li>
                                            <li>Sexually offensive or disgusting material</li>
                                            <li>Content or language is harmful to children, in whatever way.</li>
                                            <li>Tools for bulk emailing distribution</li>
                                            <li>The spread of viruses via the internet, or any other destructive or
                                                harmful actions</li>
                                            <li>Cracking, hacking, and hacking</li>
                                            <li>Scams or phishing to get personal details</li>
                                            <li>Funds solicitation that is not those that are for a legitimate
                                                charitable organisation (exceptions permitted on a case-by-case basis
                                                according to the decision of Charotar Education Society)</li>
                                            <li>Gambling, lotteries and gaming, and similar actions are harmful as well
                                                as violent, harmful and indecent, obscene and indecent, and. Infringing
                                                upon another's privacy and rights as well as racist, chauvinistic, or
                                                offensive to the ethnic group, or any other unacceptable text or content
                                            </li>
                                            <li>Famous, disgusting, or even content based on revenge or even words.</li>
                                            <li>helps in passing drug tests, or aids in getting through the lie detector
                                                test.</li>
                                            <li>Illegal actions like scams and pyramid schemes like fraudulent in the
                                                charging of credit cards, plagiarism Copyright violations</li>
                                            <li>The use of pirated material, and any other illegal usage of material or
                                                content that violate third-party rights intellectual property rights.
                                            </li>
                                            <li>MLM that does not offer a legitimate product or service that has the
                                                appearance of offering or product, if its sole goal is to draw new
                                                members, not to market products</li>
                                            <li>Reverse Funnel Systems</li>
                                            <li>Cash Gifting</li>
                                            <li>The illegal use of drugs as well as drug paraphernalia</li>
                                            <li>Miracle cures</li>
                                            <li>Fake documents</li>
                                            <li>fireworks, pyrotechnics and fireworks, explosives as well as fireworks.
                                            </li>
                                            <li>Violations, whether deliberate as well as unintentional, in local,
                                                national, state, and international laws.</li>
                                            <li>Sell hosting services or accounts for an email to a third party.</li>
                                            <li>Selling any Charotar Education Society services including, but not limited to, designs WTD,
                                                updates, and designs to a third party, without the written agreement of
                                                a reseller.</li>
                                            <li>Spamming and various other types of unwanted messages, such as but not
                                                limited to, chains letters, spam as well as junk mail</li>
                                            <li>Hyperlinks to sites that violate the policies and guidelines</li>
                                            <li>other actions regardless of whether they are legal or not, that Charotar Education Society
                                                is unable to appreciate or negatively reflect on Charotar Education Society or any of
                                                Charotar Education Society's clients.</li>
                                            <p>If Charotar Education Society Digital Marketing accepts a contract to provide services listed
                                                on this list, the work completed will be paid, regardless of whether the
                                                work is approved by Google, Bing, Yahoo, or any other outside agency.
                                            </p>
                                        </ul>
                                        <h3>4. Fees</h3>
                                        <p>You agree to pay Charotar Education Society Digital Marketing monthly fees to cover the expenses
                                            that are associated with creating and operating your marketing and
                                            advertising service up to a maximum of not more than the amount set out by
                                            the Charotar Education Society Digital Marketing Contract. Charotar Education Society Digital Marketing could change
                                            the maximum monthly cost per the processes established by our search engines
                                            and publishers frequently in the event of an announcement. The monthly cost
                                            is due at the end of each calendar month.</p>
                                        <p>If an account is more than 45 days behind, then the campaign will be stopped
                                            until payment is made as well as until the account is fully operational.
                                            When the account is 90 days late, the balance will be handed over to the
                                            collection agency.</p>
                                        <h3>5. Payment</h3>
                                        <p>The Client agrees to pay Charotar Education Society Digital Marketing compensation for the
                                            services that are set out in the agreement between the Client and the
                                            Company in the contract and within the contract. If applicable. When
                                            appropriate, it is expected to pay at the close of each month for the
                                            services provided by the Company in the month. Contracts that are signed by
                                            services on any day other than is not the 1st day of every month, will
                                            receive an amount that is prorated for the rest period of each month.
                                            Invoices are issued on the 15th day of each month. The method of payment is
                                            cash or check, or a credit card has to be received on or before the 15th day
                                            (Net 15) of each month. (Net 15). Marketing and advertising programs may be
                                            suspended if the payment is not received by the due date. In addition,
                                            re-initiation charges could be imposed.</p>
                                        <h3>6. Term</h3>
                                        <p>The Charotar Education Society Digital Marketing Contract specifies the first period during the
                                            program's rate to be guaranteed and cannot be less than twelve (12) months
                                            for customized applications. All contracts automatically renew according to
                                            the current service rates. After the initial period of the contract, parties
                                            may either terminate or terminate the contract by giving a written 30-day
                                            notice to each other.</p>
                                        <h3>7. Representations and Warranties; License and Grant of Rights</h3>
                                        <p>You acknowledge that you have the right to keep enjoying the entire and
                                            unlimited power to utilize and publish the information you submit to promote
                                            your program for marketing purposes, and also that the information you
                                            provide does not infringe on the rights or the rights of any third party and
                                            is by any state, local or federal laws and regulations.</p>
                                        <h3>8. Indemnification</h3>
                                        <p>Both parties acknowledge that respect for the provisions of this contract is
                                            not going to result in the knowing deliberate infringement or violation of
                                            any copyright, trademark, trade secret, invention patent, or any other right
                                            to the non-disclosure to any other third party. You will defend and
                                            indemnify Charotar Education Society Digital Marketing against all costs (including attorney
                                            fees) in addition to any liability and damages that result from negligent or
                                            intentional actions which violate any copyright, trade secrets or trademark
                                            or service mark or patent, or any confidentiality or confidential
                                            information of any third party. To the max extent permitted by the law
                                            obligations, You agree to assume liability for any damage or expenses
                                            incurred by Charotar Education Society Digital Marketing resulting from claims made by third
                                            parties regarding the use of the information you've supplied, regardless of
                                            the expiration date of the provisions that are part of the Agreement.</p>

                                        <h3>9. Disclaimer of Warranties</h3>
                                        <p>To the maximum extent allowed by law, Charotar Education Society Digital Marketing and its
                                            affiliates disclaim any warranties not specifically stated in this
                                            agreement, irrespective of whether they're explicitly or impliedly stated as
                                            well as but not restricted to implied warranties of merchantability and
                                            quality for any specific use of Charotar Education Society Digital Marketing services.</p>
                                        <h3>10. Limitation of Liability and Applicable Law</h3>
                                        <p>The limit of the obligations Charotar Education Society Digital Marketing may have to you is
                                            limited to the number of fees paid by the company. Charotar Education Society Digital Marketing
                                            will not be held responsible for the contents of the functions that any
                                            particular search engine, or web-based publication that isn't managed or
                                            owned through Charotar Education Society Digital Marketing. This contract will be governed and
                                            interpreted by the law of the state in the state of Gujarat. The claims
                                            filed against this contract must be settled within six months from the date
                                            the claim was filed. The dispute is a matter of.</p>
                                        <h3>11. Force Majeure</h3>
                                        <p>It is agreed that neither you nor Charotar Education Society Digital Marketing will violate the
                                            terms of these terms and conditions (other than the obligation to pay every
                                            month) if, due to a cause(s) beyond its control, the other party is not able
                                            to complete or fulfil, in part, a particular obligation. These causes may
                                            include but not be solely limited to government regulations, fire, any other
                                            reason, inability to access services or products, technology issues or
                                            problems or interruptions in internet access, or any other reason which is
                                            beyond the control of either.</p>
                                        <h3>12. Assignment</h3>
                                        <p>Charotar Education Society Digital Marketing may transfer rights and transfer the obligations and
                                            rights which are covered by this Terms and Conditions for Service.</p>
                                        <h3>13. Miscellaneous</h3>
                                        <p>The Terms and Conditions of Services constitute the entire contract between
                                            both parties concerning the provision of products and services. Acceptance
                                            of these terms is contingent upon the signing of the contract of Charotar Education Society
                                            Digital Marketing. It is binding for both parties and their successors.</p>

                                        <h3>14. Authority</h3>
                                        <p>The person signing the Contract declares that (s)he is legally competent to
                                            contract for services on behalf of your company.
                                        </p>
                                        <h3>15. Effective Upon Execution</h3>
                                        <p>The Terms and Conditions become legally binding for both parties from the
                                            date that the Statement of work is signed or when the payment is made.</p>
                                        <h3>16. No Guarantees</h3>
                                        <p>You acknowledge that you have read and accept the fact that Charotar Education Society Digital
                                            Marketing makes no specific representation or warranty about the search and
                                            publisher companies to which it makes advertisements for your business
                                            including the placement of paid-search ads or the results they will yield.
                                            Charotar Education Society Digital Marketing does not warrant the number of clicks, impressions,
                                            calls, or visits to websites or that paid-search ad will appear according to
                                            a particular demand. Charotar Education Society Digital Marketing cannot guarantee that its
                                            results are error-free but it will correct any mistakes that are found.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>