<section class="c-block namo p-0">


    <div class="namo-image"><img src="assets/images/visionary/Vitthal Kaka.png" alt=""></div>
    <div class="namo-quote">
        <h3 style="font-weight:600">"An exemplary householder who insists on service, simplicity and modesty." </h3>
        <p style="color:#59513f; font-size: 20px; margin-top: 10px !important;">The young volunteer, Vitthalbhai Patel,
            who
            practices yoga and exercise regularly and is always smiling,
            visited D.N. together with his elder brother, Mr. Ishwarbhai Patel. The glory of his will lives on in
            history. Gurubandhu Ishwarbhai said to Vitthalbhai: Remember, we are both friends of each other, but not
            outside this Patangan. Vitthalbhai received this first lesson as part of his education.</p>

        <p style="color:#59513f; font-size: 20px;">In this way, Vitthalbhai's life journey began to become Pujya
            Vitthalbhai Saheb. This publication is a
            tribute from his disciples. </p>

        <h6><a href="https://youtu.be/_-ntpkeG7O4" target="_blank" style="color: #59513f;"><i class="fa fa-youtube-play"
                    aria-hidden="true"></i> - Shree Vitthalbhai J.
                Patel</a> </h6>
        <h6><a href="https://youtu.be/_-ntpkeG7O4" target="_blank" style="color: #59513f;"><i class="fa fa-youtube-play"
                    aria-hidden="true"></i> - Visionary of CES</a> </h6>

        <!-- <a target="_blank" href="https://www.pmindia.gov.in/en/tag/pmspeech/"
            class="btn btn-sm btn-outline-white mb-0">Read More</a> -->
        <!-- <div class="row">
            <div class="col text-center">
                <a routerLink="/home/more-details" routerLinkActive="active" class="btn btn-sm btn-outline-white mb-0"
                    style="color:#59513f;border-color:#59513f ;">Read More</a>
            </div>
        </div> -->
        <a routerLink="/home/history-vj" routerLinkActive="active" class="btn btn-sm btn-outline-white mb-0" style=" border-radius: 50px;
    color: white;background-color: #63583e;font-size: 14px;text-transform: uppercase;"><i class="fa fa-arrow-right"
                aria-hidden="true"></i> Read More</a>
    </div>

</section>
<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">

                    <h2>Welcome to Charotar Education Society</h2>
                    <p> Charotar Education Society, Anand, which was established on 16th April 1916 by the "Gem of
                        Charotar" Shri Motibhai Amin Saheb with a view to developing higher education in the Charotar
                        Pradesh, the region between the Mahi and Vatrak rivers extending from Vasad to Kheda. The
                        Constitution of the Society was framed by Late Shri Vithalbhai Patel, the elder brother of
                        Sardar Vallabhabhai Patel, who played an active role in the preparation of the Indian
                        Constitution.</p>

                    <a routerLink="/about" routerLinkActive="active" class="btn btn-sm btn-outline-white mb-0">About
                        Us</a>



                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From The Secretary of Charotar Education Society</h2>
                    <h5>Ketan Patel
                        <br>
                        <span>- honorary Secretary, CES</span>
                    </h5>
                    <p>One of the most crucial and necessary aspects of a student's life is education. It enables
                        students to do analysis when making critical life decisions. Education is important for students
                        because, after receiving a sufficient education, they will be able to choose a suitable job
                        path. so that kids might use education to prosper in life. </p>
                    <!-- <a  class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>
        </div>
    </div>
</section>