
<section class="c-block namo p-0">


    <div class="namo-image"><img src="assets/images/visionary/vdada.jpg" alt=""></div>
    <div class="namo-quote">
        <h3>"An exemplary householder who insists on service, simplicity and modesty." </h3>

        <h6> <a href="https://youtu.be/_-ntpkeG7O4" target="_blank" style="color: #fff;"> - Shree Vitthalbhai J. Patel</a> </h6>
        <h6> <a href="https://youtu.be/_-ntpkeG7O4" target="_blank" style="color: #fff;"> - Visionary of CES</a> </h6>


        <!-- <a target="_blank" href="https://www.pmindia.gov.in/en/tag/pmspeech/"
            class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

    </div>

</section>
<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From The Secretary of Charotar Education Society</h2>
                    <h5>Ketan Patel
                        <br>
                        <span>- honorary Secretary, CES</span>
                    </h5>
                    <p>One of the most crucial and necessary aspects of a student's life is education. It enables
                        students to do analysis when making critical life decisions. Education is important for students
                        because, after receiving a sufficient education, they will be able to choose a suitable job
                        path. so that kids might use education to prosper in life. </p>
                    <!-- <a  class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Welcome to Charotar Education Society</h2>
                    <p> Charotar Education Society, Anand, which was established on 16th April 1916 by the "Gem of
                        Charotar" Shri Motibhai Amin Saheb with a view to developing higher education in the Charotar
                        Pradesh, the region between the Mahi and Vatrak rivers extending from Vasad to Kheda. The
                        Constitution of the Society was framed by Late Shri Vithalbhai Patel, the elder brother of
                        Sardar Vallabhabhai Patel, who played an active role in the preparation of the Indian
                        Constitution.</p>
                   
                    <a routerLink="/basic/about"
                    routerLinkActive="active" 
                        class="btn btn-sm btn-outline-white mb-0">About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>