<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/new/1.jpg" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <div class="sub-title">Important Link of Employment Websites For Government Jobs:</div>
                    <h2 class="title purple-color">PLACEMENT</h2>
                    <!-- <div class="desc pr-124 md-pr-15">Lorem ipsum dolor sit amet, consectetur adipisic ing elit,
                        sed eius to mod tempor incididunt ut labore orem ipsum dolor sit amet, consec tetur
                        adipisic ing elit, sed eius to mod incididunt</div> -->
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-6">
                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="https://www.ncs.gov.in/" target="_blank">National Career
                                            Service</a> </h4>
                                </div>
                            </div>


                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="http://www.employmentnews.gov.in/"
                                            target="_blank">Employment News</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="https://www.sarkari-naukri.in/" target="_blank">Sarkari
                                            Naukri</a></h4>
                                </div>
                            </div>

                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="https://ssc.nic.in/" target="_blank">Staff Selection
                                            Commission</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="https://www.undp.org/" target="_blank">Empowering
                                            Youth</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-6 single-facility">

                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a
                                            href="https://talimrojgar.gujarat.gov.in/2014/default.aspx#.YwR7TXbMK3A"
                                            target="_blank">Commissionerate Of Employment & Training</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="https://employment.gujarat.gov.in/"
                                            target="_blank">Directorate of Employment & Training</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="https://gpsc.gujarat.gov.in/" target="_blank">Gujarat
                                            Public Service Commission</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <img src="assets/images/icon.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="https://services.india.gov.in/" target="_blank">National
                                            Repository of Information for Women</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 sm-mb-40 col-md-6 single-facility">
                            <div class="content-part">
                                <div class="icon-part orange-bg">
                                    <img src="assets/images/choose/icons/3.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title">Fully Equiped​</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 single-facility">
                            <div class="content-part">
                                <div class="icon-part green-bg">
                                    <img src="assets/images/choose/icons/4.png" alt="">
                                </div>
                                <div class="text-part">
                                    <h4 class="title">Garden Center</h4>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Section End -->