<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <div id="rs-page-error" class="rs-page-error">
            <div class="error-text">
                <h1 class="error-code">404</h1>
                <h3 class="error-message">Page Not Found</h3>
                <a class="readon btn" routerLink="/home/main">Back to Homepage</a>
            </div>
        </div>
    </div>

    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>