<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Refund and Cancellation</h1>
                <ul>
                    <li>
                        <a class="active" routerLink="/home/main" routerLinkActive="active">Home</a>
                    </li>
                    <li>Refund and Cancellation</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Blog Section Start -->
        <div class="rs-inner-blog orange-color pt-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="blog-deatails">
                    <!-- <div class="bs-img">
                        <a href="#"><img src="assets/images/blog/inner/1.jpg" alt=""></a>
                    </div> -->
                    <div class="intro-info-tabs intro-section gray-bg " style="margin-top: 10px;">

                        <div class="tab-content tabs-content" id="myTabContent">
                            <div class="tab-pane tab fade show active" id="prod-fundE" role="tabpanel"
                                aria-labelledby="prod-fundE-tab">

                                <div class="blog-full">
                                    <div class="blog-desc">
                                        <div class="title mb-40 md-mb-15">
                                            <h3 class="text-part">We are dedicated to safeguarding your personal
                                                information.
                                            </h3>
                                        </div>
                                        <h3>Rahatokarsh Fund (Micro Donation)</h3>
                                        <p><b>Micro donations made to the Rahotatkarsh fund is  <b>NOT applicable for
                                                cancellation </b>and are <b>NOT refundable!</b> </b></p>
                                        <p>
                                            The refund and cancellation policy for an institution is typically
                                            determined by
                                            the institution itself. The policy is usually outlined in the institution's
                                            terms
                                            and conditions, enrollment agreement, or student handbook.
                                        </p>
                                        <p>
                                            Typically, an institution's refund and cancellation policy will include
                                            information on the conditions under which a student may be eligible for a
                                            refund
                                            of tuition or other fees, as well as the procedures for submitting a request
                                            for a
                                            refund. Some institutions may have different policies for different types of
                                            students, such as full-time or part-time students, or students who withdraw
                                            before
                                            or after a certain date.
                                        </p>
                                        <p>
                                            In general, institutions may offer a full or partial refund of tuition and
                                            fees
                                            if a student withdraws from the institution for a valid reason, such as
                                            illness,
                                            military service, or a change in the student's circumstances. However, the
                                            institution may also impose certain conditions or deadlines for requesting
                                            a refund, and may deduct certain non-refundable fees from the refund amount.

                                        </p>
                                        <p>
                                            It's important to carefully review the refund and cancellation policy of the
                                            institution you're considering before making a decision to enroll. If you
                                            have any questions or concerns, you may wish to contact the institution's
                                            admissions or student services office for clarification.
                                        </p>

                                        <h3>1.Time frame for cancellation</h3>
                                        <p>Institutions often specify a time frame within which a cancellation or refund
                                            request must be made, such as within 30 days of purchase or prior to the
                                            start
                                            of the program.
                                        </p>
                                        <h3>2.Conditions for refunds</h3>
                                        <p>
                                            Institutions may specify certain conditions under which a refund will be
                                            provided,
                                            such as if the product or service is defective, if the program is cancelled
                                            by the
                                            institution, or if the student is unable to attend due to illness or other
                                            circumstances.
                                        </p>
                                        <h3>3.Refund amounts</h3>
                                        <p>
                                            The amount of the refund may vary depending on the circumstances, such as
                                            the time
                                            frame within which the cancellation is made, or whether the product or
                                            service has
                                            been used. In some cases, institutions may charge a processing fee or deduct
                                            a
                                            portion of the original purchase price to cover administrative costs.
                                        </p>
                                        <h3>4.Payment methods</h3>
                                        <p>
                                            The institution may specify the payment methods that will be accepted for
                                            refunds, such as credit card, check, or electronic transfer.
                                        </p>
                                        <h3>5.Dispute resolution</h3>
                                        <p>
                                            The refund and cancellation policy may include information on the
                                            process for resolving disputes or appealing decisions related to refunds and
                                            cancellations.
                                        </p>
                                        <p>
                                            It is important to carefully review the refund and cancellation policy for
                                            an
                                            institution before making a purchase, to ensure that you understand the
                                            conditions under which a refund may be provided. If you have any questions
                                            or concerns about the policy, it is best to contact the institution directly
                                            for clarification.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>