.rs-about.style1 .about-part {
    background: none;
    border-radius: 5px;
    margin-top:0px;
}

@media only screen and (max-width: 575px)
{
    .rs-about.style1 .about-part {
        padding: 40px 0px 50px;
    }
}
.smalls{
    display: none;
}
.fulls{
    display: block;
}
iframe {
    height: 600px !important;
}
@media only screen and (max-width: 767px){
    .smalls{
        display: block;
    }
    .fulls{
        display: none;
    }
    iframe {
        height: 391px !important;
        width: 349px !important;
        margin-top: 100px;
    }
}

.rs-about.style1 .about-part{
    padding: 0;
}
.limitTextHeight {
    height: 165px !important;
    overflow: hidden !important;
}