<!-- About Section Start -->
<div id="rs-about" class="rs-about style1 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-last">
                <div class="notice-bord style1">
                    <h4 class="title">Notice Board</h4>
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <div class="date"><span>06</span>Oct</div>
                            <div class="desc">Answer key of Std 4 Hindi 12-10-22 morning
                                <br> <a href="assets/images/news/12-10_Std%204%20Hindi_morning.pdf" target="_blank">
                                    Download</a>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date"><span>06</span>Oct</div>
                            <div class="desc">Answer key of Std 11 Computer Theory 10-10-22 noon
                                <br> <a href="assets/images/news/10-10_Std%2011%20Computer%20Theory%20_afternoon.pdf"
                                    target="_blank"> Download</a>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date"><span>06</span>Oct</div>
                            <div class="desc">Answer key of Std 7 English 8-10-22 morning
                                <br> <a href="assets/images/news/8-10_Std%207%20English_morning.pdf" target="_blank">
                                    Download</a>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date"><span>06</span>Oct</div>
                            <div class="desc">Answer key of Std 8 Social Science 8-10-22 morning
                                <br> <a href="assets/images/news/8-10_Std%208%20Social%20Science_morning.pdf"
                                    target="_blank"> Download</a>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date"><span>06</span>Oct</div>
                            <div class="desc">Answer key of Std 8 Social Science 8-10-22 noon
                                <br> <a href="assets/images/news/8-10_Std%208%20Social%20Science_afternoon.pdf"
                                    target="_blank"> Download</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 pr-50 md-pr-15">
                <div class="about-part">
                    <div class="sec-title mb-40 fulls">
                        
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcesociety%2F&tabs=timeline&width=700&height=700&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=257809995950316" width="700" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <div class="sec-title mb-40 smalls">
                        
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcesociety%2F&tabs=timeline&width=340&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=257809995950316" width="340" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<!-- About Section Start -->
<!-- <div id="rs-about" class="rs-about style1 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-last">
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="2000"
                        [keyboard]="true" [pauseOnHover]="true" [wrap]="true" [activeId]="'slideTwo'" class="carousel">
                        <ng-template ngbSlide>
                            <div class="row">
                                <div class="col-lg-12 mb-70">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <a href="#"><img src="assets/images/blog/inner/1.jpg" alt=""></a>
                                        </div>
                                        <div class="blog-content">
                                            <h3 class="blog-title"><a href="#">University while the lovely valley team work</a></h3>
                                            <div class="blog-meta">
                                                <ul class="btm-cate">
                                                    <li>
                                                        <div class="blog-date">
                                                            <i class="fa fa-calendar-check-o"></i> September 14, 2020                                                        
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="author">
                                                            <i class="fa fa-user-o"></i> admin  
                                                        </div>
                                                    </li>   
                                                    <li>
                                                        <div class="tag-line">
                                                            <i class="fa fa-book"></i>
                                                            <a href="#">University</a> 
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-desc">   
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam...                                     
                                            </div>
                                            <div class="blog-button">
                                                <a class="blog-btn" href="#">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="row">
                                <div class="col-lg-12 mb-70">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <a href="#"><img src="assets/images/blog/inner/1.jpg" alt=""></a>
                                        </div>
                                        <div class="blog-content">
                                            <h3 class="blog-title"><a href="#">University while the lovely valley team work</a></h3>
                                            <div class="blog-meta">
                                                <ul class="btm-cate">
                                                    <li>
                                                        <div class="blog-date">
                                                            <i class="fa fa-calendar-check-o"></i> September 14, 2020                                                        
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="author">
                                                            <i class="fa fa-user-o"></i> admin  
                                                        </div>
                                                    </li>   
                                                    <li>
                                                        <div class="tag-line">
                                                            <i class="fa fa-book"></i>
                                                            <a href="#">University</a> 
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-desc">   
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam...                                     
                                            </div>
                                            <div class="blog-button">
                                                <a class="blog-btn" href="#">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-carousel>
            </div>
            <div class="col-lg-6 pr-50 md-pr-15">
                <div class="about-part">
                    <div class="sec-title mb-40 fulls">
                        
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcesociety%2F&tabs=timeline&width=700&height=700&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=257809995950316" width="700" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <div class="sec-title mb-40 smalls">
                        
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcesociety%2F&tabs=timeline&width=340&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=257809995950316" width="340" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- About Section End -->