<div id="rs-about" class="rs-about style1 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-last">
                <!-- <h2 style="text-align: center;">Latest Blogs</h2> -->


                <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="5000"
                    [keyboard]="true" [pauseOnHover]="true" [wrap]="true" [activeId]="'slideTwo'" class="carousel">

                    <ng-template ngbSlide *ngFor="let b of blogsData">
                        <div class="row">
                            <div class="col-lg-12 mb-70">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a><img src="https://bapsanandmandir.co.in{{b.blogImage}}" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <h3 class="blog-title mt-3"><a style="color: #30add3;">{{b.blogTitle}}</a></h3>
                                        <div class="blog-meta">
                                            <ul class="btm-cate">
                                                <li>
                                                    <div class="blog-date">
                                                        <i class="fa fa-calendar-check-o"></i> {{b.blogDate|date}}
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="author">
                                                        <i class="fa fa-user-o"></i> {{b.authorName}}
                                                    </div>
                                                </li>
                                                <!-- <li>
                                                    <div class="tag-line">
                                                        <i class="fa fa-book"></i>
                                                        <a href="#">University</a>
                                                    </div>
                                                </li> -->
                                            </ul>
                                        </div>
                                        <div class="blog-desc mt-3 limitTextHeight" [innerHtml]='b.blogDetails'>
                                        </div>
                                        <div class="blog-button" style="text-align: center !important">
                                            <a class="blog-btn" (click)="continueBlog(b.id)"
                                                style="text-align: center !important;">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-lg-6 pr-50 md-pr-15">
                <div class="about-part">
                    <div class="sec-title mb-40 fulls">

                        <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcesociety%2F&tabs=timeline&width=700&height=700&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=257809995950316"
                            width="700" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <div class="sec-title mb-40 smalls">

                        <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcesociety%2F&tabs=timeline&width=340&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=257809995950316"
                            width="340" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->