<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">About Us</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>About</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->
        <!-- About Section Start -->
			<div class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 padding-0 md-pl-15 md-pr-15 md-mb-30">
							<div class="img-part">
								<img class="" src="assets/images/about/about.jpg" alt="About Image" height="550" width="530">
							</div>
                            <ul class="nav nav-tabs histort-part" id="myTab" role="tablist">
                                <li class="nav-item tab-btns single-history" role="presentation">
                                    <a class="nav-link tab-btn active" href="#" id="about-history-tab" data-bs-toggle="tab" data-bs-target="#about-history" role="tab" aria-controls="about-history" aria-selected="true"><span class="icon-part"><i class="flaticon-banknote"></i></span>History</a>
                                </li>
                                <li class="nav-item tab-btns single-history" role="presentation">
                                    <a class="nav-link tab-btn" href="#" id="about-mission-tab" data-bs-toggle="tab" data-bs-target="#about-mission" role="tab" aria-controls="about-mission" aria-selected="false"><span class="icon-part"><i class="flaticon-flower"></i></span> Vision</a>
                                </li>
                                <li class="nav-item tab-btns single-history last-item" role="presentation">
                                    <a class="nav-link tab-btn" href="#" id="about-admin-tab" data-bs-toggle="tab" data-bs-target="#about-admin" role="tab" aria-controls="about-admin" aria-selected="false"><span class="icon-part"><i class="flaticon-analysis"></i></span>Mission</a>
                                </li>
                            </ul>
						</div>
						<div class="col-lg-5 offset-lg-1">
							<div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about-history" role="tabpanel" aria-labelledby="about-history-tab">
                                    <div class="sec-title mb-25">
                                        <h2 class="title">Welcome to Charotar Education Society</h2>
                                        <div class="desc">Charotar Education Society, Anand, which was established on 16th April 1916 by the "Gem of Charotar" Shri Motibhai Amin Saheb with a view to developing higher education in the Charotar Pradesh, the region between the Mahi and Vatrak rivers extending from Vasad to Kheda. The Constitution of the Society was framed by Late Shri Vithalbhai Patel, the elder brother of Sardar Vallabhabhai Patel, who played an active role in the preparation of the Indian Constitution.</div>
                                    </div>
                                    <div class="sec-title mb-25">
                                        <div class="desc">In the beginning the Society was managed well by the brothers Shri Ishwarbhai J. Patel and Late Shri Vithalbhai J. Patel. Shri Ishwarbhai J.Patel had been the Vice Chancellor of international universities as well as the Vice Chancellor of many universities of Gujarat. Late Shri Vithalbhai J. Patel is in real sense, the Charotar Education Society is spread over 41 acares of land and has 4 big campuses in which K.G. to P.G. education is provided to the needful students. The society runs P.T.C., B.Ed., Arts, Commerce and Science degree colleges and has also started P.G. self financed courses in Science, Commerce, and Arts.
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="about-mission" role="tabpanel" aria-labelledby="about-mission-tab">
                                    <div class="sec-title mb-25">
                                        <h2 class="title">Vision </h2>
                                        <div class="desc">CEMS has, since inception adhered to very high standards, and this regard has gone to great lengths and expense to make the very best available to all it’s pupils. It was with this great vision to impart world-class education in and the town went to numerous schools in India to imbibe the best spirits of excellence. It is through his uncompromising and perfectionist approach that today we have unarguably the best temple for knowledge for your child at your doorsteps.</div>
                                    </div>
                                    <!-- <div class="sec-title mb-25">
                                        <div class="desc"></div>
                                    </div> -->
                                </div>
                                <div class="tab-pane fade" id="about-admin" role="tabpanel" aria-labelledby="about-admin-tab">
                                    <div class="sec-title mb-25">
                                        <h2 class="title">Mission</h2>
                                        <div class="desc">
                                            <ul style="list-style-type: disc;">
                                                <li>Arousing latent capacities.</li>
                                                <li>Awareness towards our traditional & cultural values with warm welcome to new technology.</li>
                                                <li>Building positive attitude and carving character.</li>
                                                <li>Conceptual, technical, communication and interpersonal skill development.</li>
                                                <li>Entire growth under one roof.</li>
                                                <li>Holistic approach to personality development.</li>
                                                <li>Make feel distinct as an individual and as a member of the society.</li>
                                                <li>Providing platform to display potential.</li>
                                                <li>Periodical touring and excursion.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="tab-img">
                                        <img class="" src="assets/images/about/tab3.jpg" alt="Tab Image">
                                    </div> -->
                                </div>
                            </div>
						</div>
					</div>
                    <!-- Intro Info Tabs-->
                    <div class="intro-info-tabs">
                        
                    </div>
				</div>
			</div>
			<!-- About Section End -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>