<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/ca1.jpg" alt="Breadcrumbs Image">
            </div>
        </div> -->
        <div class="rs-inner-blog orange-color pt-50 md-pt-50 pb-50 md-pb-50">
            <div class="container">
                <div class="blog-deatails">
                    <div class="intro-info-tabs intro-section gray-bg ">
                        <div class="content white-bg">
                            <div class="course-overview">
                                <div class="inner-box">
                                    <div class="rs-degree style1 modify  pt-40 pb-70 md-pt-70 md-pb-40">
                                        <div class="title mb-40 md-mb-15">
                                            <div class="row">
                                                <div class="col">
                                                    <h3 class="text-part text-center" style="color: #203154;">
                                                        <strong>The Charotar
                                                            Education
                                                            Society is currently inviting tenders.</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <p class="text-end"><b>[ pload on website: 20-12-2023 ]</b>
                                            </p> -->

                                        </div>
                                        <div style="overflow-x:auto;">

                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="text-center">Sr No.</th>
                                                        <th scope="col" class="text-center">Details</th>
                                                        <th scope="col" class="text-center">Start Date</th>
                                                        <th scope="col" class="text-center">End Date</th>
                                                        <th scope="col" class="text-center">Download</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="row" class="text-center">1</td>
                                                        <td class="text-left">
                                                            <strong>Purchase of Lab Equipments</strong>
                                                        </td>
                                                        <td class="text-center">
                                                            30-04-2024
                                                        </td>
                                                        <td class="text-center">
                                                            29-05-2024
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="assets/tender/Tender Document for the Purchase Lab Equipment.pdf"
                                                                target="_blank"><img src="assets/images/PDF.png"
                                                                    alt="Pdf"
                                                                    style="height: 80px  !important;width: 60px !important;">
                                                            </a>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Blog Section End -->


    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>