<section class="focus-sector pt-5 pb-5">
    <div class="container">

        <!-- <div class="small-border" style="background:white;margin:0"></div> -->
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>Available Courses</h2>

                </div>
            </div>
        </div>
        <div class="home-community-board__grid-wrapper">

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"> <a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp; Doctor of Philosophy  </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active"> Master of Science  </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"> <a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">Master of Commerce  </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;&nbsp;Master of Arts </a>
                    </p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;&nbsp;Master of Education </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;Master of Social Work </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">Medical Laboratory Technology </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;Bachelor of Science </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;Bachelor of Commerce </a></p>
                </div>
            </div>



            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;&nbsp;Bachelor of Arts </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">Bachelor of Computer Application </a></p>
                </div>
            </div>


            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">Bachelor of Science in IT </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">Bachelor of Business Administration General </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;&nbsp;Bachelor of Business Administration ITM </a></p>
                </div>
            </div>


            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;&nbsp;&nbsp;Bachelor of Education </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">&nbsp;&nbsp;&nbsp;Bachelor of Physical Education </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active">Bachelor Of Physical Education And Sports </a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active"> Bachelor of Social Work   </a> </p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/colleges"
                        routerLinkActive="active"> Primary Teachers Certificate   </a> </p>
                </div>
            </div>


            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/school"
                        routerLinkActive="active">Pre School</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/school"
                        routerLinkActive="active">Standard 1 to 5</a></p>
                </div>
            </div>




            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/school"
                        routerLinkActive="active">Standard 9 to 10</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/school"
                        routerLinkActive="active">Standard 11 to 12</a></p>
                </div>
            </div>




            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a class="white" routerLink="/academic/school"
                        routerLinkActive="active">Standard 6 to 8</a></p>
                </div>
            </div>
        </div>



    </div>

</section>