<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Blogs</h1>
                <ul>
                    <li>
                        <a class="active" routerLink="/home/main" routerLinkActive="active">Home</a>
                    </li>
                    <li>Blogs</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Blog Section Start -->
        <div class="rs-inner-blog orange-color pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 order-last">
                        <div class="widget-area">
                            <div class="search-widget mb-50">
                                <div class="search-wrap">
                                    <input type="search" placeholder="Searching..." name="s" class="search-input"
                                        value="">
                                    <button type="submit" value="Search"><i class=" flaticon-search"></i></button>
                                </div>
                            </div>
                            <div class="recent-posts mb-50">
                                <h3 class="widget-title">Recent Posts</h3>
                                <ul>
                                    <li><a href="#">University while the lovely valley team work</a></li>
                                    <li><a href="#">High school program starting soon 2021</a></li>
                                    <li><a href="#">Modern School the lovely valley team work</a></li>
                                    <li><a href="#">While the lovely valley team work</a></li>
                                    <li><a href="#">This is a great source of content for anyone…</a></li>
                                </ul>
                            </div>
                            <div class="widget-archives mb-50">
                                <h3 class="widget-title">Archives</h3>
                                <ul>
                                    <li><a href="#">September 2020</a></li>
                                    <li><a href="#">September 2020</a></li>
                                </ul>
                            </div>
                            <div class="widget-archives mb-50">
                                <h3 class="widget-title">Categories</h3>
                                <ul>
                                    <li><a href="#">College</a></li>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">Primary</a></li>
                                    <li><a href="#">School</a></li>
                                    <li><a href="#">University</a></li>
                                </ul>
                            </div>
                            <div class="recent-posts mb-50">
                                <h3 class="widget-title">Meta</h3>
                                <ul>
                                    <li><a href="#">Log in</a></li>
                                    <li><a href="#">Entries feed</a></li>
                                    <li><a href="#">Comments feed</a></li>
                                    <li><a href="#">WordPress.org</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 pr-50">
                        <div class="row">
                            <div class="col-lg-12 mb-70" *ngFor="let b of blogsData">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a><img src="http://localhost:9000{{b.blogImage}}" alt="blog-image"></a>
                                    </div>
                                    <div class="blog-content">
                                        <h3 class="blog-title mt-3"><a style="color: #30add3;">{{b.blogTitle}}</a></h3>
                                        <div class="blog-meta">
                                            <ul class="btm-cate">
                                                <li>
                                                    <div class="blog-date">
                                                        <i class="fa fa-calendar-check-o"></i> {{b.blogDate|date}}
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="author">
                                                        <i class="fa fa-user-o"></i> {{b.authorName}}
                                                    </div>
                                                </li>
                                                <!-- <li>
                                                    <div class="tag-line">
                                                        <i class="fa fa-book"></i>
                                                        <a href="#">University</a>
                                                    </div>
                                                </li> -->
                                            </ul>
                                        </div>
                                        <div class="blog-desc limitTextHeight" [innerHtml]='b.blogDetails'>
                                        </div>
                                        <div class="blog-button">
                                            <a class="blog-btn" (click)="continueBlog(b.id)">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>