<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Centenary Celebration</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Centenary Celebration</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Blog Section Start -->
        <div class="rs-inner-blog orange-color pt-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="blog-deatails">
                    <!-- <div class="bs-img">
                        <a href="#"><img src="assets/images/blog/inner/1.jpg" alt=""></a>
                    </div> -->
                    <div class="intro-info-tabs intro-section gray-bg " style="margin-top: 10px;">
                        <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-fundE-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#prod-fundE" role="tab" aria-controls="prod-fundE"
                                    aria-selected="true">English</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-fundG-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#prod-fundG" role="tab" aria-controls="prod-fundG"
                                    aria-selected="false">Gujarati</a>
                            </li>
                        </ul>
                        <div class="tab-content tabs-content" id="myTabContent">
                            <div class="tab-pane tab fade show active" id="prod-fundE" role="tabpanel"
                                aria-labelledby="prod-fundE-tab">

                                <div class="blog-full">
                                    <div class="blog-desc">
                                        <!-- <div class="title mb-40 md-mb-15">
                                            <h3 class="text-part">The objective of Rahatotkarsh Fund
                                            </h3>
                                        </div> -->
                                        <p>
                                            Charotar Education Society (CES) began its journey 100 years back with an
                                            intention to provide students with quality education and the same passion
                                            continues now and would continue for generations to come. To mark this
                                            occasion CES decide to organize 100 different events as “Shatakotsav” - The
                                            Centenary Celebration, under categories like academic, social, health,
                                            sports, fair, festival etc during year span of April 2015 to April 2016 with
                                            the aim to raise intelligent, emotional and spiritual quotient of the
                                            students.
                                        </p>
                                        <p>
                                            CES hits Eight Guinness World Records for Mahendi, Quiz, Sudoku, Kite
                                            Mosaic, Human Maths Equation Representation, Signature campaign, Arm-Linked
                                            Students and T-Shirt Signature. The achievement is the proud moment for the
                                            entire academic fraternity of Gujarat. CES also found place in the United
                                            Nations for its effort to spread awareness about the need for action against
                                            environmental degradation. Organizing the Centenary Year celebrations at
                                            this magnitude would not have been possible without the motto of
                                            ‘Institution First’ and team work.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="prod-fundG" role="tabpanel" aria-labelledby="prod-fundG-tab">
                                <div class="content">
                                    <div id="accordion" class="accordion-box">
                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <!-- <div class="title mb-40 md-mb-15">
                                                    <h3 class="text-part">રાહતોત્કર્ષ ફંડ સ્થાપવાનો હેતુ :-
                                                    </h3>
                                                </div> -->
                                                <p>
                                                    ઉચ્ચ ગુણવત્તાયુક્ત અભ્યાસના ધ્યેય સાથે શરૂ થયેલ ચરોતર એજ્યુકેશન
                                                    સોસાયટીની સો (૧૦૦) વર્ષની યાત્રા આજે પણ એજ ઉત્સાહ અને ખંતથી ચાલી રહી
                                                    છે અને આવનારા સમયમાં પણ ચાલતી રહેશે. સો વર્ષની આ યાત્રાની ઉજવણીના
                                                    ભાગરૂપે “ શતકોત્સવ ” પર્વમાં શૈક્ષણિક, રમત-ગમત,સ્વસ્થ, સામાજીક,
                                                    ઉત્સવ, મેળા વગેરે જેવી શ્રેણીઓમાં વિવિધ સો(૧૦૦) કાર્યક્રમોનું અદભુત
                                                    આયોજન કરવામાં આવ્યું. અપ્રિલ ૨૦૧૫ થી અપ્રિલ ૨૦૧૬ દરમ્યાન ઉજવાયેલ આ
                                                    કાર્યક્રમોનો હેતુ વિદ્યાર્થીઓનો સર્જનાત્મક, ભાવનાત્મક, બુદ્ધિમત તથા
                                                    આધ્યાત્મિક આંક ઉચો લાવવાનો રહ્યો.
                                                </p>
                                                <p>
                                                    આ કાર્યક્રમો દરમ્યાન ચરોતર એજ્યુકેશન સોસાયટીએ આઠ ગિનિસ વર્લ્ડ
                                                    રેકોર્ડ પ્રસ્થાપિત કર્યા, જે શિક્ષણ જગત માટે સીમાચિહ્નનરૂપ ધટના બની
                                                    રહી છે. મહેંદી, ક્વીઝ, સુડોકુ, કાઈટ મોઝેઈક, માનવ ગણિત સમીકર, સહી
                                                    ઝુંબેશ, માનવ સાંકળ તથા ટી-શર્ટ સહી અભિયાન જેવા વર્લ્ડ રેકોર્ડ્સ
                                                    વિદ્યાર્થીઓ તથા સ્ટાફના સંયુક્ત પ્રયાસો દ્વારા રચવામાં આવ્યા.
                                                    પર્યાવરણ બચાવવાના ઉદ્દાત ઉદ્દેશમાં યુનાઇટેડ નેશન્સ પણ ચરોતર
                                                    એજ્યુકેશન સોસાયટીની સાથે જોડાયું.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>