<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Privacy Policy</h1>
                <ul>
                    <li>
                        <a class="active" routerLink="/home/main" routerLinkActive="active">Home</a>
                    </li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Blog Section Start -->
        <div class="rs-inner-blog orange-color pt-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="blog-deatails">
                    <!-- <div class="bs-img">
                        <a href="#"><img src="assets/images/blog/inner/1.jpg" alt=""></a>
                    </div> -->
                    <div class="intro-info-tabs intro-section gray-bg " style="margin-top: 10px;">

                        <div class="tab-content tabs-content" id="myTabContent">
                            <div class="tab-pane tab fade show active" id="prod-fundE" role="tabpanel"
                                aria-labelledby="prod-fundE-tab">

                                <div class="blog-full">
                                    <div class="blog-desc">
                                        <div class="title mb-40 md-mb-15">
                                            <h3 class="text-part">We are dedicated to safeguarding your personal
                                                information.
                                            </h3>
                                        </div>
                                        <p>
                                            We just collect the bare minimum of information about you necessary to
                                            provide you with a quality service. This policy outlines the types of
                                            procedures that may lead to the collection of personal information about
                                            you. We have the right to gather that information based on your usage of our
                                            website.
                                        </p>
                                        <h3>Retention of Data</h3>
                                        <p>Charotar Education Society will only keep your Personal Data for as long as it is required for
                                            the reasons outlined in this Privacy Policy. We will keep and use your
                                            Personal Data to the extent necessary to comply with our legal duties (for
                                            example, if relevant laws compel us to keep your data), settle disputes, and
                                            enforce our legal agreements and policies.
                                        </p>
                                        <h3>Information Collected</h3>
                                        <p>Depending on the sort of business you engage into, we may collect any or all
                                            of the information you give us, including your name, address, phone number,
                                            and email address, as well as data on your business. Other information that
                                            may be required to complete a request from time to time may be gathered as
                                            noted on the policy.
                                        </p>
                                        <h3>Personal Data</h3>
                                        <p>While using our Service, we may ask you to provide us with certain personally
                                            identifiable information that can be used to contact or identify you
                                            (“Personal Data”). Personally identifiable information may include, but is
                                            not limited to:</p>
                                        <ul style="list-style-type:circle;">
                                            <li>First Name and Last Name.</li>
                                            <li>Email Address.</li>
                                            <li>Phone number.</li>
                                            <li>Business name.</li>
                                            <li>Website URL.</li>
                                            <li>Address, State, Province, ZIP/Postal code, City.</li>
                                            <li>Any personal data you post on our website.</li>
                                            <li>Data about how you use our website.</li>
                                            <li>Technical data such as your IP address, your login data, details about
                                                your browser, time zone settings and other technology on the device you
                                                use to access our website.</li>
                                            <li>Your marketing and communication preferences.</li>
                                        </ul>
                                        <h3>Information use</h3>
                                        <p>We generally use the data we collect to complete your marketing tasks.
                                            Unauthorised access to this information is prevented by taking all necessary
                                            steps. If you want to get information about your account details, you may
                                            have to submit extra forms of identification because of this security.</p>
                                        <h3>Transfer of Data</h3>
                                        <p>Charotar Education Society will take all reasonable steps to ensure that your data is treated
                                            securely and in accordance with this Privacy Policy, and no transfer of your
                                            Personal Data to an organisation or country will take place unless
                                            appropriate controls, including the security of your data and other personal
                                            information, are in place.</p>
                                        <h2>Disclosure of Data</h2>
                                        <h3>Business Transaction</h3>
                                        <p>Your Personal Data may be transferred if Charotar Education Society is involved in a merger,
                                            acquisition, or asset sale. Before your Personal Data is moved and becomes
                                            subject to a new Privacy Policy, we will notify you.</p>
                                        <h3>Disclosure for Law Enforcement</h3>
                                        <p>Charotar Education Society may be required by law or in response to reasonable demands from
                                            governmental authorities to reveal your Personal Data in certain situations
                                            (e.g. a court or a government agency).</p>
                                        <h3>Legal Requirements</h3>
                                        <p>Charotar Education Society may disclose your Personal Data in the good faith belief that such
                                            action is necessary to:</p>
                                        <ul style="list-style-type: disc;">
                                            <li>To abide by a legal obligation.</li>
                                            <li>To protect and defend Digital Marketer Labs, LLC's rights and property.
                                            </li>
                                            <li>To prevent or investigate potential wrongdoing relating to the Service.
                                            </li>
                                            <li>To safeguard the personal safety of Service users or the general public.
                                            </li>
                                            <li>To protect against legal liability.</li>
                                        </ul>
                                        <h3>Security of Data</h3>
                                        <p>We care about the security of your information, but keep in mind that no
                                            method of Internet transmission or electronic storage is completely secure.
                                            While we make every effort to protect your Personal Data using commercially
                                            acceptable means, we cannot guarantee its absolute security.</p>
                                        <h3>Cookies</h3>
                                        <p>Your browser has the capability of storing little files called "cookies" that
                                            include information that allows a website to recognise your account. This
                                            feature is used on our website to improve your experience. You may set your
                                            computer to refuse to accept cookies, but this may affect the website's
                                            operation.</p>
                                        <h3>Service Providers</h3>
                                        <p>We may hire third-party organisations and individuals to help us with our
                                            Service ("Service Providers"), to deliver the Service on our behalf, to
                                            conduct Service-related functions, or to help us analyse how our Service is
                                            used.</p>
                                        <p>These third parties have access to your Personal Data solely to carry out
                                            these duties on our behalf and are prohibited from disclosing or using it
                                            for any other reason.</p>
                                        <h3>Analytics</h3>
                                        <p>Google Analytics is a tool that allows you to track Google Analytics is a
                                            website traffic tracking and reporting service provided by Google. Google
                                            utilises the information gathered to track and monitor how our Service is
                                            used. Other Google services have access to this information. Google may
                                            utilise the information gathered to contextualise and customise its own
                                            advertising network's adverts. By downloading the Google Analytics opt-out
                                            browser add-on, you can opt out of having your activity on the Service
                                            tracked by Google Analytics.</p>
                                        <p>The add-on stops Google Analytics JavaScript (ga.js, analytics.js, and dc.js)
                                            from exchanging data about visit activities with Google Analytics. Please
                                            see the Google Privacy & Terms web page for additional information on Google
                                            Privacy & Terms page: <a
                                                href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a>
                                        </p>
                                        <h3>Behavioural Remarketing</h3>
                                        <p>Charotar Education Society utilises remarketing services to target you with advertisements on
                                            third-party websites after you have visited our Service. Cookies are used by
                                            us and our third-party suppliers to inform, optimise, and deliver
                                            advertising based on your previous visits to our Service.</p>
                                        <ul style="list-style-type: disc;">
                                            <li>Google AdWordsGoogle AdWords remarketing service is provided by Google
                                                Inc. .</li>
                                            <li>Twitter remarketing service is provided by Twitter Inc.</li>
                                            <li>Facebook remarketing service is provided by Facebook Inc.</li>
                                        </ul>
                                        <h3>Payments</h3>
                                        <p>Within the Service, we may offer paid items and/or services. In that
                                            scenario, we employ third-party payment processing providers (e.g. payment
                                            processors).</p>
                                        <p>Your credit card information will not be stored or collected by us. That
                                            information is transmitted directly to our third-party payment processors,
                                            whose Privacy Policies control how they utilise your personal information.
                                        </p>
                                        <p><b>We work with all online UPI payments, cash, check, or bank transfer.</b>
                                        </p>
                                        <h3>Children’s Privacy</h3>
                                        <p>Children under the age of 18 are not permitted to use our Service</p>
                                        <p>We do not intentionally collect personally identifying information from
                                            children under the age of eighteen. Please contact us if you are a parent or
                                            guardian and you are aware that your kid has supplied us with Personal Data.
                                            If we learn that we have obtained Personal Data from children without
                                            parental agreement, we will take measures to erase the data from our
                                            systems.</p>
                                        <h3>Consent</h3>
                                        <p>By using our services, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>