<div ng-include="'views/navbar.html'"></div>
<div id="accordion" class="accordion">
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <section class="servicesHome">
            <div class="container">


                <div class="row card1">
                    <a data-toggle="collapse" data-bs-parent="#accordion" data-bs-toggle="collapse" href="#collapseTwo">
                        <i class="fa fa-times-circle" style="float: right; color: white; font-size:24px"></i></a>
                    <h6 style="color: white;text-align: center;">View Course</h6>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul>
                                <li (click)="searchSchool('preschool')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Preschool</li>
                                <li (click)="searchSchool('std11to12')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Standard 11 to 12</li>
                                <li (click)="searchSchool('bcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Com.</li>
                                <li (click)="searchSchool('bsc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc.</li>
                                <li (click)="searchSchool('med')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Ed.</li>
                                <li (click)="searchSchool('phd')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Ph.D.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std1to5')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 1 to 5</li>
                                <li (click)="searchSchool('ba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.A.</li>
                                <li (click)="searchSchool('bed')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Ed.</li>
                                <li (click)="searchSchool('mlt')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> MLT</li>
                                <li (click)="searchSchool('msw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.S.W.</li>
                                <li (click)="searchSchool('bscit')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc. IT</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std6to8')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 6 to 8</li>
                                <li (click)="searchSchool('bba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.B.A.</li>
                                <li (click)="searchSchool('bped')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.P.Ed.</li>
                                <li (click)="searchSchool('ma')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.A.</li>
                                <li (click)="searchSchool('msc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Sc.</li>
                                <li (click)="searchSchool('all')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> View All</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std9to10')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 9 to 10</li>
                                <li (click)="searchSchool('bca')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.C.A.</li>
                                <li (click)="searchSchool('bsw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.S.W.</li>
                                <li (click)="searchSchool('mcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Com.</li>
                                <li (click)="searchSchool('ptc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> P.T.C.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="full-width-header header-style1 home1-modifiy">
    <header id="rs-header" class="rs-header">
        <div class="topbar-area dark-parimary-bg">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-md-7">
                        <ul class="topbar-contact">
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:cesociety@cesociety.in" style="font-size:12px !important;">
                                    cesociety@cesociety.in</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i>
                                <a href="tel:02692-243083" style="font-size:12px !important;">02692-243083</a>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-end">
                        <ul class="topbar-right">
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-clock-o"></i>
                                <a>Last Updated: {{siteUpdate.updatedSite|date}}</a>
                            </li>
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-users"></i>
                                <a>Visitor:222500</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area menu-sticky">
            <div class="row middle">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="logo-cat-wrap">
                        <div class="logo-part">
                            <a routerLink="/home/main" routerLinkActive="active">
                                <img src="assets/images/CES_logo.png" alt="">

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-start m1" style="padding-right:30px;">

                    <ul class="topbar-right">
                        <li class="menu-item lm">
                            <div class="wrap">
                                <div class="search">
                                    <a class="card-link collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" href="#" (click)="moreOpen()"
                                        aria-expanded="true">
                                        <input type="text" class="searchTerm" placeholder="What are you looking for?"
                                            style="color: #203154;">
                                    </a>
                                    <button type="submit" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li class="menu-item lm">
                            <a routerLink="/celebration" routerLinkActive="active">Centenary Celebration</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a routerLink="/more/news">News</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a (click)="open(content)">Birthday</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a routerLink="/counselling" routerLinkActive="active">Free counseling</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- MOBILEMENU -->
        <nav class="navbar navbarn navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <!-- <span class="navbar-toggler-icon"> </span> -->
                <img class="navbar-toggler-icon" src="assets/images/shape/icon.png" alt="">
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
                <ul class="nav-menu" style="padding: 25px!important;">
                    <!-- Large button groups (default and split) -->

                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/home/main" routerLinkActive="active">Home</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/about" routerLinkActive="active">About
                                    Us</a> </li>
                            <li><a class="dropdown-item" routerLink="/history"
                                    routerLinkActive="active">History</a> </li>
                            <li><a class="dropdown-item" routerLink="/management"
                                    routerLinkActive="active">Management</a> </li>
                            <li><a class="dropdown-item" routerLink="/bearers" routerLinkActive="active">Office
                                    Bearers</a> </li>

                        </ul>
                    </li>
                    <!-- <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/home/main" routerLinkActive="active">Home</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/about" routerLinkActive="active">About
                                    Us</a> </li>
                            <li><a class="dropdown-item" routerLink="/history"
                                    routerLinkActive="active">History</a> </li>
                            <li><a class="dropdown-item" routerLink="/management"
                                    routerLinkActive="active">Management</a> </li>
                        </ul>
                    </li> -->
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Glory of CES</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/glory/gallery"
                                    routerLinkActive="active">Gallery</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/celebration"
                                    routerLinkActive="active">Centenary Celebration</a>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Gallery/Media</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Photos</a> </li>
                            <li><a class="dropdown-item">Documentary Film</a> </li>
                            <li><a class="dropdown-item">Our Magazine Balmitra</a> </li>
                        </ul>
                    </li> -->

                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/project" routerLinkActive="active">Project </a>
                    </li>

                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Academic</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/academic/school"
                                    routerLinkActive="active">Schools</a> </li>
                            <li><a class="dropdown-item" routerLink="/academic/colleges"
                                    routerLinkActive="active">Collages</a> </li>
                            <li><a class="dropdown-item" routerLink="/academic/others"
                                    routerLinkActive="active">Others</a> </li>
                            <li><a class="dropdown-item" routerLink="/academic/hostels"
                                    routerLinkActive="active">Hostels</a> </li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/alumni" routerLinkActive="active">Alumni </a>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/fund" routerLinkActive="active">Rahatokarsh
                            Fund</a>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/more/magazine" routerLinkActive="active">Magazine</a>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- MOBILEMENU -->

        <div class="menu-area menu-sticky">
            <!-- main-menu -->
            <div class="topbar-area dark-parimary-bg">
                <div class="container" style="max-width:1750px;">
                    <div class="row y-middle" style="background-color: #203154 ; height: 50px;">
                        <div class="col-lg-12 text-end">
                            <div class="rs-menu-area">
                                <div class="main-menu">

                                    <nav class="rs-menu">
                                        <ul class="nav-menu">
                                            <!-- <li class="rs-mega-menu mega-rs menu-item-has-children current-menu-item"> <a
                                                    routerLink="/home/main" routerLinkActive="active">Home</a> -->

                                            <!-- <ul class="mega-menu"> 
                                                <li class="mega-menu-container">
                                                    <div class="mega-menu-innner">
                                                        <div class="single-megamenu">
                                                            <ul class="sub-menu">
                                                                <li><a routerLink="/home/main" routerLinkActive="active">Main Demo</a> </li>
                                                                <li class="active"><a href="index2.html">Online Course</a> </li>
                                                                <li><a href="index3.html">University 01</a> </li>
                                                                <li><a href="index4.html">E-Learning</a> </li>
                                                                <li><a href="index5.html">Distance Learning</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="single-megamenu">
                                                            <ul class="sub-menu last-sub-menu">
                                                                <li><a href="index6.html">Personal Demo</a> </li>
                                                                <li><a href="index7.html">Online Training</a> </li>
                                                                <li><a href="index8.html">Online Learning</a> </li>
                                                                <li><a href="index9.html">Kitchen Coach</a> </li>
                                                                <li><a href="index10.html">University 02</a> </li>
                                                            </ul>
                                                        </div>  
                                                        <div class="single-megamenu">
                                                            <ul class="sub-menu last-sub-menu">
                                                                <li><a href="index11.html">Kindergarten 01</a> </li>
                                                                <li><a href="index12.html">Freelancing Course</a> </li>
                                                                <li><a href="index13.html">Gym Coach</a> </li>
                                                                <li><a href="index14.html">Courses Archive</a> </li>
                                                                <li><a href="index15.html">Courses Hub</a> </li>
                                                            </ul>
                                                        </div> 
                                                    </div>
                                                </li>
                                            </ul> -->
                                            <!-- //.mega-menu -->
                                            <!-- </li> -->
                                            <li class="menu-item-has-children">
                                                <a routerLink="/home/main" routerLinkActive="active">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/about" routerLinkActive="active">About
                                                            Us</a>
                                                    </li>
                                                    <li><a routerLink="/history"
                                                            routerLinkActive="active">History</a>
                                                    </li>
                                                    <li><a routerLink="/management"
                                                            routerLinkActive="active">Management</a> </li>
                                                    <li><a routerLink="/bearers" routerLinkActive="active">Office
                                                            Bearers</a> </li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="#">Glory of CES</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/glory/gallery"
                                                            routerLinkActive="active">Gallery</a>
                                                    </li>
                                                    <li><a routerLink="/celebration"
                                                            routerLinkActive="active">Centenary Celebration</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <!-- <li class="menu-item-has-children">
                                                <a href="#">Gallery/Media</a> -->
                                            <!-- <ul class="sub-menu">
                                                 <li class="menu-item-has-children right">
                                                     <a href="#">Team</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="team.html">Team One</a></li>
                                                         <li><a href="team2.html">Team Two</a></li>
                                                         <li><a href="team-single.html">Team Single</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Event</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="events-style1.html">Event One</a></li>
                                                         <li><a href="events-style2.html">Event Two</a></li>
                                                         <li><a href="events-style3.html">Event Three</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Gallery</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="gallery-style1.html">Gallery One</a></li>
                                                         <li><a href="gallery-style2.html">Gallery Two</a></li>
                                                         <li><a href="gallery-style3.html">Gallery Three</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Shop</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="shop.html">Shop</a></li>
                                                         <li><a href="shop-single.html">Shop Single</a></li>
                                                         <li><a href="cart.html">Cart</a></li>
                                                         <li><a href="checkout.html">Checkout</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Others</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="faq.html">FAQ</a></li>
                                                         <li><a href="error.html">404 Page</a></li>
                                                         <li><a href="login.html">Login</a></li>
                                                         <li><a href="register.html">Register</a></li>
                                                     </ul>
                                                 </li>
                                             </ul> -->
                                            <!-- <ul class="sub-menu">
                                                    <li><a href="#">Photos</a> </li>
                                                    <li><a href="#">Documentary Film</a> </li>
                                                    <li><a href="#">Our Magazine Balmitra</a> </li>
                                                </ul>
                                            </li> -->

                                            <li class="">
                                                <a routerLink="/project" routerLinkActive="active">Project </a>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="contact.html">Academic</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/academic/school"
                                                            routerLinkActive="active">Schools</a> </li>
                                                    <li><a routerLink="/academic/colleges"
                                                            routerLinkActive="active">Collages</a> </li>
                                                    <li><a routerLink="/academic/others"
                                                            routerLinkActive="active">Others</a> </li>
                                                    <li><a routerLink="/academic/hostels"
                                                            routerLinkActive="active">Hostels</a> </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a routerLink="/alumni" routerLinkActive="active">Alumni </a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/fund" routerLinkActive="active">Rahatokarsh
                                                    Fund</a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/more/magazine" routerLinkActive="active">Magazine</a>
                                            </li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main-menu -->
            <!-- stickymenu -->
            <div style="max-width:100%;">
                <div class="secondToolbar" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
                    <!-- <img src="assets/images/CES_logo.png" alt=""> -->
                    <div class="row" style="background-color: #203154 ; height: 50px;">
                        <div class="col-lg-2 text-end mt-10">
                            <img src="assets/images/ces.png" alt="" width="35%">
                        </div>
                        <div class="col-lg-10 text-start" style="margin-top: 5px;">
                            <div class="rs-menu-area jc">
                                <div class="main-menu">
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">
                                            <li class="menu-item-has-children">
                                                <a routerLink="/home/main" routerLinkActive="active">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/about" routerLinkActive="active">About
                                                            Us</a> </li>
                                                    <li><a routerLink="/history"
                                                            routerLinkActive="active">History</a> </li>
                                                    <li><a routerLink="/management"
                                                            routerLinkActive="active">Management</a> </li>
                                                    <li><a routerLink="/bearers" routerLinkActive="active">Office
                                                            Bearers</a> </li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="#">Glory of CES</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/glory/gallery"
                                                            routerLinkActive="active">Gallery</a> </li>
                                                    <li><a routerLink="/celebration"
                                                            routerLinkActive="active">Centenary Celebration</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <!-- <li class="menu-item-has-children">
                                                <a href="#">Gallery/Media</a> -->
                                            <!-- <ul class="sub-menu">
                                                 <li class="menu-item-has-children right">
                                                     <a href="#">Team</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="team.html">Team One</a></li>
                                                         <li><a href="team2.html">Team Two</a></li>
                                                         <li><a href="team-single.html">Team Single</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Event</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="events-style1.html">Event One</a></li>
                                                         <li><a href="events-style2.html">Event Two</a></li>
                                                         <li><a href="events-style3.html">Event Three</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Gallery</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="gallery-style1.html">Gallery One</a></li>
                                                         <li><a href="gallery-style2.html">Gallery Two</a></li>
                                                         <li><a href="gallery-style3.html">Gallery Three</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Shop</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="shop.html">Shop</a></li>
                                                         <li><a href="shop-single.html">Shop Single</a></li>
                                                         <li><a href="cart.html">Cart</a></li>
                                                         <li><a href="checkout.html">Checkout</a></li>
                                                     </ul>
                                                 </li>
                                                 <li class="menu-item-has-children">
                                                     <a href="#">Others</a>
                                                     <ul class="sub-menu right">
                                                         <li><a href="faq.html">FAQ</a></li>
                                                         <li><a href="error.html">404 Page</a></li>
                                                         <li><a href="login.html">Login</a></li>
                                                         <li><a href="register.html">Register</a></li>
                                                     </ul>
                                                 </li>
                                             </ul> -->
                                            <!-- <ul class="sub-menu">
                                                    <li><a href="#">Photos</a> </li>
                                                    <li><a href="#">Documentary Film</a> </li>
                                                    <li><a href="#">Our Magazine Balmitra</a> </li>
                                                </ul>
                                            </li> -->

                                            <li class="">
                                                <a routerLink="/project" routerLinkActive="active">Project </a>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="contact.html">Academic</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/academic/school"
                                                            routerLinkActive="active">Schools</a> </li>
                                                    <li><a routerLink="/academic/colleges"
                                                            routerLinkActive="active">Collages</a> </li>
                                                    <li><a routerLink="/academic/others"
                                                            routerLinkActive="active">Others</a> </li>
                                                    <li><a routerLink="/academic/hostels"
                                                            routerLinkActive="active">Hostels</a> </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a routerLink="/alumni" routerLinkActive="active">Alumni </a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/fund" routerLinkActive="active">Rahatokarsh
                                                    Fund</a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/more/magazine" routerLinkActive="active">Magazine</a>
                                            </li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- stickymenu -->
        </div>
        <!-- Button trigger modal-->

        <!--Modal: modalCookie-->
        <div class="modal top" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <div class="modal-title  pt-10">
                        <h2>Centenary Celebration</h2>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <div class="row d-flex justify-content-center align-items-center">

                            <div class="intro-info-tabs intro-section gray-bg " style="margin-top: 5px;">
                                <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab"
                                            href="#" data-bs-target="#prod-overview" role="tab"
                                            aria-controls="prod-overview" aria-selected="true">English</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab"
                                            href="#" data-bs-target="#prod-curriculum" role="tab"
                                            aria-controls="prod-curriculum" aria-selected="false">Gujarati</a>
                                    </li>
                                </ul>
                                <div class="tab-content tabs-content pt-20" id="myTabContent">
                                    <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                        aria-labelledby="prod-overview-tab">

                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <p>Charotar Education Society (CES) began its journey 100 years back
                                                    with an intention to provide students with quality education and the
                                                    same passion continues now and would continue for generations to
                                                    come. To mark this occasion CES decide to organize 100 different
                                                    events as “Shatakotsav” - The Centenary Celebration, under
                                                    categories like academic, social, health, sports, fair, festival etc
                                                    during year span of April 2015 to April 2016 with the aim to raise
                                                    intelligent, emotional and spiritual quotient of the students.
                                                </p>
                                                <p>CES hits Eight Guinness World Records for Mahendi, Quiz, Sudoku, Kite
                                                    Mosaic, Human Maths Equation Representation, Signature campaign,
                                                    Arm-Linked Students and T-Shirt Signature. The achievement is the
                                                    proud moment for the entire academic fraternity of Gujarat. CES also
                                                    found place in the United Nations for its effort to spread awareness
                                                    about the need for action against environmental degradation.
                                                    Organizing the Centenary Year celebrations at this magnitude would
                                                    not have been possible without the motto of ‘Institution First’ and
                                                    team work.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="prod-curriculum" role="tabpanel"
                                        aria-labelledby="prod-curriculum-tab">
                                        <div class="content">
                                            <div id="accordion" class="accordion-box">
                                                <div class="blog-full">
                                                    <div class="blog-desc">
                                                        <p>ઉચ્ચ ગુણવત્તાયુક્ત અભ્યાસના ધ્યેય સાથે શરૂ થયેલ ચરોતર
                                                            એજ્યુકેશન સોસાયટીની સો (૧૦૦) વર્ષની યાત્રા આજે પણ એજ ઉત્સાહ
                                                            અને ખંતથી ચાલી રહી છે અને આવનારા સમયમાં પણ ચાલતી રહેશે. સો
                                                            વર્ષની આ યાત્રાની ઉજવણીના ભાગરૂપે “ શતકોત્સવ ” પર્વમાં
                                                            શૈક્ષણિક, રમત-ગમત,સ્વસ્થ, સામાજીક, ઉત્સવ, મેળા વગેરે જેવી
                                                            શ્રેણીઓમાં વિવિધ સો(૧૦૦) કાર્યક્રમોનું અદભુત આયોજન કરવામાં
                                                            આવ્યું. અપ્રિલ ૨૦૧૫ થી અપ્રિલ ૨૦૧૬ દરમ્યાન ઉજવાયેલ આ
                                                            કાર્યક્રમોનો હેતુ વિદ્યાર્થીઓનો સર્જનાત્મક, ભાવનાત્મક,
                                                            બુદ્ધિમત તથા આધ્યાત્મિક આંક ઉચો લાવવાનો રહ્યો.
                                                        </p>
                                                        <p>આ કાર્યક્રમો દરમ્યાન ચરોતર એજ્યુકેશન સોસાયટીએ આઠ ગિનિસ વર્લ્ડ
                                                            રેકોર્ડ પ્રસ્થાપિત કર્યા, જે શિક્ષણ જગત માટે સીમાચિહ્નનરૂપ
                                                            ધટના બની રહી છે. મહેંદી, ક્વીઝ, સુડોકુ, કાઈટ મોઝેઈક, માનવ
                                                            ગણિત સમીકર, સહી ઝુંબેશ, માનવ સાંકળ તથા ટી-શર્ટ સહી અભિયાન
                                                            જેવા વર્લ્ડ રેકોર્ડ્સ વિદ્યાર્થીઓ તથા સ્ટાફના સંયુક્ત
                                                            પ્રયાસો દ્વારા રચવામાં આવ્યા. પર્યાવરણ બચાવવાના ઉદ્દાત
                                                            ઉદ્દેશમાં યુનાઇટેડ નેશન્સ પણ ચરોતર એજ્યુકેશન સોસાયટીની સાથે
                                                            જોડાયું. </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="closePopup()">
                            Close
                        </button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: modalCookie-->

        <!-- <div class="modal right" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="heading">TODAY'S NEWS / EVENTS</p>

                        <button type="button" class="close" (click)="closePopup()">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <h5>SHRI ALPESH N. PATEL POST GRADUATE INSTITUTE OF SCIENCE AND RESEARCH, ANAND</h5>

                                <p><strong>UNIVERSITY TOPPERS OF M.SC. MLT AND DMLT DEPARTMENT</strong></p>
                                <p><a href="assets/sanppgi/images/news/MLT%20Final%20RESULT%20with%20university%20rank%20%20IT%20CELL.pdf"
                                        target="_blank"> M.SC MT (CLT) & DMLT
                                        RESULT (2020 – 22)</a></p>
                                <button type="button" class="btn btn-info btn-md" (click)="closePopup()">Close</button>
                            </div>

                            <div class="col-1"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <div class="icon-part" style="margin: 10px 20px 10px 20px !important;">
                    <img src="assets/images/categories/icons/cake.png" alt="">
                </div>
                <h4 class="modal-title" id="modal-basic-title" style="text-align: center;">Wish List of the Day ! </h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <div classs="row">
                    <p style="text-align: center; color: #ffcc00;" *ngIf="staffDataTable.length==0"><strong>
                            There are no wishes to be made today!
                        </strong></p>
                </div>


                <div class="row" *ngFor="let s of staffDataTable;let i=index">
                    <div class="col-1">
                        <p style="text-align: center;"><strong>{{i+1}}</strong></p>
                    </div>
                    <div class="col-2">
                        <img src="http://localhost:9000{{s.profile_image}}" class="img-thumbnail" alt="wedrfgthyuj" />
                    </div>
                    <div class="col-5">
                        <p>
                            <strong>
                                {{s.name}} <br>
                                {{s.instituteName}},<br>
                                {{s.departmentName}},<br>
                                {{s.designation}},<br>
                            </strong>
                        </p>
                    </div>
                    <div class="col-4">
                        <ul class="address-widget">
                            <li class="mt-3">
                                <div class="desc">
                                    <i class="flaticon-call" style="color: black;"></i> <a
                                        href="tel:{{s.contact}}">{{s.contact}}</a>
                                </div>
                            </li>
                            <li>
                                <div class="desc">
                                    <i class="flaticon-email" style="color: black;"></i> <a href="mailto:{{s.email}}">
                                        {{s.email}}</a> <br>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <hr *ngIf="staffDataTable.length>1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">
                    <i class="fa fa-times" aria-hidden="true"></i> Close</button>
            </div>
        </ng-template>
    </header>

</div>