<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Management</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Management</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->
       <!-- About Section Start -->
       <div id="rs-about" class="rs-about style4 pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row">                        
                <div class="col-lg-5 md-mb-50">
                    <div class="img-part">
                        <img class="about-main"  src="assets/images/vc.jpg" alt="About Image">
                        <img class="circle-bg shape" src="assets/images/about/home5/about-circle-bg.png" alt="About Image">
                        <img class="small-circle shape animated pulse infinite" src="assets/images/about/home5/small-circle-shape.png" alt="About Image">
                        <img class="deep-bg shape" src="assets/images/about/home5/about-deep-bg.png" alt="About Image">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="about-content">
                        <div class="sec-title mb-46 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <h2 class="title mb-15 sm-mb-5">Management</h2>
                            <!-- <div class="sub-title">Personal & Professional Coach</div> -->
                            <p class="desc">Charotar Education Society has been fortunate in a to have a democratic constitution installed long before India became independent. This achievement is the gift of Vitthalbhai Jethabhai Patel who was elder brother to Sardar Vallabhbhai Patel. The founding members of the society motivated citizens way back in 1916 to contribute 6 acres of land in the heart of Anand city to establish an academic institute.</p>
                            <p class="desc">On 1-4-1997 the New English School was incorporated later on inspired by the spirit of patriotism promoted by Dadabhai Navroji was permanently endorsed by renaming the institute as Dadabhai Navrojji High School on 30-9-1997.</p>
                            <p class="desc">The key objects of the society as per its constitution is to advance the cause of education Primary, Secondary,  Higher, Commercial, Technical and to diffuse knowledge among the people of the Charotar District and of those villages and towns beyond Charotar that may be accepted by the Council.</p>
                            <p class="desc">Community development being the focal point of the institution provisions were made within the constitution to manage funds by a democratically define regularity mechanism, the benefits of which became the strength in the form of infrastructure development, institution growth and allocation of budget for students scholarships.</p>
                            <p class="desc">Deserving students back then could also benefit from scholarship to study abroad, an apploardable community development initiator.</p>
                            <p class="desc">It can be said that Charotar Education Society can boast of having only graduates and above as decision making authorities.</p>
                        </div>
                        <ul class="contact-part wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                            <li>
                                <!-- <div class="img-part">
                                    <img src="assets/images/about/icon/1.png" alt="">
                                </div> -->
                                <div class="desc">
                                    <span>Chairperson</span> 
                                    <span>Niravkumar Navinchandra Patel</span>
                                </div>
                            </li>
                            <li>
                                <!-- <div class="img-part">
                                    <img src="assets/images/about/icon/1.png" alt="">
                                </div> -->
                                <div class="desc">
                                    <span>Secretary</span> 
                                    <span>Ketankumar Parshotamdas Patel</span>
                                </div>
                            </li>   
                            <!-- <li>
                                <div class="img-part">
                                    <img src="assets/images/about/icon/2.png" alt="">
                                </div>
                                <div class="desc">
                                    <span>Email Address</span> 
                                    <span><a href="mailto:info@mail.com">info@mail.com</a></span>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>