<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">History of VJ Patel</h1>
                <ul>
                    <li>
                        <a class="active" routerLink="/home/main" routerLinkActive="active">Home</a>
                    </li>
                    <li>History</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->
        <!-- About Section Start -->
        <div class="rs-inner-blog blue-color pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="blog-deatails">

                    <div class="bs-img mt-40">
                        <a href="#"><img src="assets/images/new/Naman Front.png" alt="front"></a>
                    </div>
                    <div class="blog-full">
                        <h2 class="title mb-40 text-center">Life-sketch of Shri Vitthalbhai J Patel</h2>
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-xl-8">
                                <div class="blog-desc " style="text-align: justify;">
                                    <p>
                                        Shri Vitthalbhai J. Patel, <b>Vitthal kaka</b>, a serene,
                                        unassuming personality who reinforced the foundation of this giant tree called
                                        <b>“Charotar Education Society”</b>.
                                        His pupils still have fond memories of his excellent pedagogical skills, his
                                        strong acumen in finding and nurturing talent and a complete dedication towards
                                        development of student community in Charotar Region.
                                    </p>
                                    <p>He listened to students patiently while being firm in making them
                                        obedient and hardworking persons. The students, parents, colleagues and the
                                        members of society respected him for his active listening abilities, complete
                                        dedication towards uplifting members of society and creating an ecosystem where
                                        fun and duties are combined in making students a thorough professional.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xl-4">
                                <div class="blog-img mb-40 ">
                                    <img src="assets/images/life.png" alt="life">
                                </div>
                            </div>
                        </div>
                        <div class="blog-img mb-40 ">
                            <img src="assets/images/prime.jpg" alt="prime">
                        </div>
                        <h2 class="title mb-40">Early Life</h2>
                        <ul class="unorder-list mb-20">
                            <li>Born on the 13th January, 1919 in Pij town of Nadiad district, Vitthalbhai J Patel was
                                one of the finest teachers our country has produced.</li>
                            <li>His primary and secondary education was respectively completed at Pij and at
                                A J High School, Vaso.</li>
                            <li>He completed higher education from Mumbai University, Vadodara. He was an
                                Educational professional and an Exercise Specialist, STC.</li>
                        </ul>
                        <h2 class="title mb-40">Vitthal Bhai as a freedom fighter</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xl-6">
                                <div class="blog-img mb-40">
                                    <img src="assets/images/freedom.jpg" alt="freedom">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xl-6">
                                <ul class="unorder-list mb-20">
                                    <li>He joined Mahatma Gandhi’s Bharat Chhodo Andolan (Quit India
                                        Movement) in 1942.</li>
                                    <li>He played active role as freedom fighter while becoming member of
                                        the group pivotal in looting and burning post and money order of
                                        British government.</li>
                                    <li>Arrested and served the sentence at Chhmas Jail, Sabarmati Jail,
                                        Ahmedabad in 1943.</li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="title mb-40 mt-40">Vitthal Kaka in teaching profession</h2>
                        <div class="blog-img mb-40">
                            <img src="assets/images/teacher.png" alt="">
                        </div>
                        <ul class="unorder-list mb-20">
                            <li>Joined D N High School, Charotar Education Society in 1944 as a
                                teacher. </li>
                            <li>In 1945, he was promoted as Teacher and warden of Hostel along with
                                being made a Physical Education Teacher</li>
                            <li>In 1950 he volunteers to join CES day to day affairs. </li>
                            <li>Posted as a teacher at Bright School in Rochester city of USA for a
                                period of one year on Indo-US Fulbright Teacher Exchange Program
                                from 1964 to 1965. He was very much admired and respected by
                                American students and faculties while teaching them in English.
                            </li>
                            <li>Awarded with coveted “Best Teacher” award by Government of India for
                                the year 1966-67. </li>
                            <li>In 1968, he took the reign of D N High School by becoming Principal.
                            </li>
                            <li>He was honorary principal for commerce, finance and science subjects
                                in higher secondary section of D N high school from 1977 to 1079.
                            </li>
                            <li>From 1979 to 1988, Vitthal Kaka served Charotar Vidya Mandal as
                                Honorary Secretary. </li>
                            <li>Served as Secretary at Sardar Patel Education Trust, Anand from 1979
                                to 1992.</li>
                            <li>He also served as President of Pij Kelavani Mandal in 1989. </li>
                            <li>In 1986, he served as Chairman of Sardar Patel Seva Samaj, Nadiad.
                            </li>
                            <li>During 1991-92 he served as Professor, Bhaikaka Chair in Sardar
                                Patel University, Vallabhvidyanagar. </li>
                            <li>He also held distinction of member of advisory committee at Pramukh
                                Swami Medical College, Karamsad.</li>
                            <li>From 1944 to 1979 encompassing a period of 35 years, Vitthal Kaka
                                untiring served Charotar Education Society in various capacities
                                including teacher, hostel warden, member of governing bodies etc.
                                Above all, he was doing the most pious work of shaping lives of
                                students. </li>
                            <li>He was also pioneer in spreading the wings of quality school
                                education in Ashi, Radhu, Nayaka, Ajarpura, Pij and Bharoda town of
                                Charotar region. </li>
                        </ul>
                        <h4 class="sm-title">So, Vitthalbhai J Patel was…</h4>
                        <ul class="unorder-list mb-20">
                            <li>Teacher, Hostel warden, Principal, volunteer, secretary and member
                                of governing body at Charotar Education Society during the course of
                                35 years of service to this prestigious organization. </li>
                            <li>A staunch follower of Gandhian Philosophy, an activist, a freedom
                                fighter and a member of Quit India movement. </li>
                            <li>The one who committed to simplicity, discipline and service his
                                entire working and retired life.</li>
                            <li>A teacher par excellence and an admired administrator of Charotar
                                region. </li>
                            <li>A stream of karmathata, and saatvikta.</li>
                            <li>A priest of honesty and a fatherly figure for students.</li>
                            <li>A visionary and dynamic administrator.</li>
                            <li>Transparent, orator and epitome of manner. </li>
                            <li>An ardent scholar and a complete believer of humanity.</li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-2 offset-sm-5">
                                <div class="btn btn-sm btn-outline-white mb-0" style="text-align: center;"
                                    routerLink="/home/more-details">
                                    <a class="btn btn-sm btn-outline-white mb-0">View More <i class="fa fa-arrow-right"
                                            aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>