<!-- Events Section Start -->
<div class="rs-event modify2 orange-color pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row y-middle mb-50 md-mb-30">
            <div class="col-md-12 sm-mb-30" style="text-align: Center;">
                <div class="sec-title">
                    <div class="sub-title primary">World Records</div>
                    <h2 class="title mb-0">Certificates</h2>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="btn-part text-end sm-text-start">
                   
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/Quiz.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Largest Quiz Competition</h4>
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div> -->
                            <!-- <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/Sudoku.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Largest Sudoku Solving</h4>
                            <!-- <h4 class="title"><a href="#">Project SANGAM</a></h4> -->
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                            <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/Mahendi.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Largest Mehndi Art</h4>
                            <!-- <h4 class="title"><a href="#">Project Aditya</a></h4> -->
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                            <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 md-mb-30">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/Arm Linked.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Maximum Arm-Link Activity</h4>
                            <!-- <h4 class="title"><a href="#">Project VARUN</a></h4> -->
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                            <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/T-Shirt Signature.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Maximum T-Shirt Sign Campaign</h4>
                            <!-- <h4 class="title"><a href="#">Project EKLAVYA</a></h4> -->
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div> -->
                            <!-- <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/Kite Mosaic.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Largest Kite Mosaic Display</h4>
                            <!-- <h4 class="title"><a href="#">Project E-GYAN</a></h4> -->
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                            <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-30 col-md-3 col-xs-6 col-sm-6">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/Signature.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Most Number of  Signature Campaign</h4>
                            <!-- <h4 class="title"><a href="#">Project ARJUN</a></h4> -->
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                            <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 md-mb-30">
                <div class="event-item">
                    <div>
                        <div class="center">
                            <img src="assets/images/GWR/Human Maths Equation.png" alt="Image">
                        </div>
                        <div class="content-part">
                            <h4 class="title" style="text-align:center;">Longest Human Maths Equation</h4>
                            <!-- <h4 class="title"><a href="#">Project ANANDAM</a></h4> -->
                            <!-- <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                            <div class="date-part">
                                <div class="date">
                                    <i class="fa fa-calendar-check-o"></i>July 24, 2020
                                </div>
                            </div>
                            <div class="time"><i class="fa flaticon-clock"></i> 11:00 AM - 03:00 AM</div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Events Section End -->