<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Free counseling</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Free counseling</li>
                </ul>
            </div>
        </div>

        
    </div>
    <!-- Contact Section Start -->
    <div class="contact-page-section pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 pl-60 md-pl-15">
                    <div class="contact-comment-box">
                        <div class="inner-part">
                            <h3>Free counseling for students of Charotar Education Society</h3>
                            <div class="blog-desc mb-35">
                                <h5>Campus Counseling Program</h5>
                                <ul style="list-style-type: disc;">
                                    <li>Dealing with Exam Stress & Anxiety</li>
                                    <li>Career Counseling (Counseling to select the Right Career)</li>
                                    <li>Depression</li>
                                    <li>Relationships / Adjustments</li>
                                </ul>
                                <h5>Feel free to take help of Campus Counselor</h5>
                                <h5>Dr. Jigar (Jignesh) Jani - Counseling Psychologist</h5>
                                <h5>(M) 9426009495</h5>
                                <p style="text-align: justify;">
                                    Now students can be book online counseling sessions over google meet with Dr. Jigar Jani, You can submit details in below form or whatsapp your Name, Class and Institute directly you will be shared google link for online counseling sessions for any questions pertaining to career life, Wellbeing ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-60 md-pl-15">
                    <div class="contact-comment-box">
                        <div class="inner-part">
                            <h2 class="title mb-mb-15">Book an appointment / Get in touch</h2>
                            <!-- <p>Have some suggestions or just want to say hi? Our  support team are ready to help you 24/7.</p> -->
                        </div>
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" >
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Student Name" required="">
                                    </div> 
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="div" name="div" placeholder="Class / Div" required="">
                                    </div> 
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="Email" required="">
                                    </div>   
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone" required="">
                                    </div>   
                                    <div class="col-lg-12 mb-35">
                                            <select class="from-control" name="users" ng-model="userSelect">
                                                <option value="">--Institute--</option>
                                                <option value="3">Ambalal Balshala, Anand</option>
                                                <option value="28">CES Performing Arts And Fine Arts Academy</option>
                                                <option value="0">Charotar Education Society</option>
                                                <option value="1">Charotar English Medium School, Anand</option>
                                                <option value="4">D. N. High School (Std 6 to 8), Anand </option>
                                                <option value="6">D. N. High School (Std 9 to 12), Anand</option>
                                                <option value="29">IT Cell</option>
                                                <option value="12">K. M. Patel Balshala and Shishuvihar, Mogri</option>
                                                <option value="7">Kasturba Kanya Vidhyalaya (Std 9 to 12), Anand
                                                </option>
                                                <option value="5">Kasturba Kanya Vidyalaya (Std 6 to 8), Anand</option>
                                                <option value="27">LRC, Anand</option>
                                                <option value="13">Mahatma Gandhi Vidyalaya (Std 6 to 8), Mogri</option>
                                                <option value="14">Mahatma Gandhi Vidyalaya (Std 9 to 12), Mogri
                                                </option>
                                                <option value="10">Sardar Vallabhbhai Patel High School (Std 6 to 8),
                                                    Khetiwadi</option>
                                                <option value="11">Sardar Vallabhbhai Patel High School (Std 9 to 12),
                                                    Khetiwadi</option>
                                                <option value="9">Sardar Vallabhbhai Patel Shishuvihar and Balshala,
                                                    Khetiwadi</option>
                                                <option value="2">Shishuvihar, Nutan Shishuvihar And Nursary, Anand
                                                </option>
                                                <option value="8">V. J. Patel Higher Secondary School, Anand</option>
                                                <option value="30">M. B. Patel Applied Science College</option>
                                                <option value="16">M. B. Patel Science College, Anand</option>
                                                <option value="25">Motibhai Amin P. S. Adhyapan Mandir (D.EL.Ed.), Mogri
                                                </option>
                                                <option value="15">Shri Alpesh N. Patel Post Graduate Institute of
                                                    Science and Research, Anand</option>
                                                <option value="22">Shri Bhikhabhai Patel Arts College, Anand</option>
                                                <option value="21">Shri Bhikhabhai Patel Institute Of P. G. Studies
                                                    &amp; Research in Humanities, Anand</option>
                                                <option value="20">Shri D. N. Institute of Business Administration,
                                                    Anand</option>
                                                <option value="17">Shri D. N. Institute of Computer Applications, Anand
                                                </option>
                                                <option value="18">Shri D. N. Institute of P. G. Studies in Commerce,
                                                    Anand</option>
                                                <option value="24">Shri I. J. Patel B.Ed. College, Mogri</option>
                                                <option value="23">Shri I. J. Patel M.Ed. College, Mogri</option>
                                                <option value="26">Shri V. J. Patel College of Physical Education, Mogri
                                                </option>
                                                <option value="19">Shri V. Z. Patel Commerce College, Anand</option>
                                            </select>
                                        </div>
                                 
                                    <div class="col-lg-12 mb-50">
                                        <textarea class="from-control" id="message" name="message" placeholder=" Query / Message" required=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="btn-send" type="submit" value="Submit Now">
                                </div>										   
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->  
</body>
<footer id="rs-footer" class="rs-footer">
    <app-footer></app-footer>
</footer>
