<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Free Counseling</h1>
                <ul>
                    <li>
                        <a class="active" routerLink="/home/main" routerLinkActive="active">Home</a>
                    </li>
                    <li>Free Counseling</li>
                </ul>
            </div>
        </div>


    </div>
    <!-- Contact Section Start -->
    <div class="contact-page-section pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 pl-60 md-pl-15">
                    <div class="contact-comment-box">
                        <div class="inner-part">
                            <h3>Free counseling for students of Charotar Education Society</h3>
                            <div class="blog-desc mb-35">
                                <h5>Campus Counseling Program</h5>
                                <ul style="list-style-type: disc;">
                                    <li>Dealing with Exam Stress & Anxiety</li>
                                    <li>Career Counseling (Counseling to select the Right Career)</li>
                                    <li>Depression</li>
                                    <li>Relationships / Adjustments</li>
                                </ul>
                                <h5>Feel free to take help of Campus Counselor</h5>
                                <h5>Dr. Jigar (Jignesh) Jani - Counseling Psychologist</h5>
                                <h5>(M) 9426009495</h5>
                                <p style="text-align: justify;">
                                    Now students can be book online counseling sessions over google meet with Dr. Jigar
                                    Jani, You can submit details in below form or whatsapp your Name, Class and
                                    Institute directly you will be shared google link for online counseling sessions for
                                    any questions pertaining to career life, Wellbeing ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-60 md-pl-15">
                    <div class="contact-comment-box">
                        <div class="inner-part">
                            <h2 class="title mb-mb-15">Book an appointment / Get in touch</h2>
                            <!-- <p>Have some suggestions or just want to say hi? Our  support team are ready to help you 24/7.</p> -->
                        </div>
                        <div id="form-messages"></div>
                        <form [formGroup]="form" (ngSubmit)="saveAppointementData()">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="from-control" type="text" id="name" name="name"
                                                formControlName="name"
                                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                                                placeholder="Enter Name" [(ngModel)]="counselingModel.name">
                                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                                <div *ngIf="f['name'].errors['required']">
                                                    Name
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Class/Division</label>
                                            <input class="from-control" type="text" id="division" name="division"
                                                formControlName="division"
                                                [ngClass]="{ 'is-invalid': submitted && f['division'].errors }"
                                                placeholder="Enter Class / Division"
                                                [(ngModel)]="counselingModel.division">
                                            <div *ngIf="submitted && f['division'].errors" class="invalid-feedback">
                                                <div *ngIf="f['division'].errors['required']">
                                                    Class/Division
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input class="from-control" type="text" id="email" name="email"
                                                formControlName="email"
                                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                                placeholder="Enter Email" [(ngModel)]="counselingModel.email">
                                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                                <div *ngIf="f['email'].errors['required']">
                                                    Email is required</div>
                                                <div *ngIf="f['email'].errors['email']">
                                                    Email is invalid</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Contact Number</label>
                                            <input class="from-control" type="text" id="contact" name="contact"
                                                formControlName="contact"
                                                [ngClass]="{ 'is-invalid': submitted && f['contact'].errors }"
                                                placeholder="Enter Contact Number" [(ngModel)]="counselingModel.phone">
                                            <div *ngIf="submitted && f['contact'].errors" class="invalid-feedback">
                                                <div *ngIf="f['contact'].errors['required']">
                                                    Contact Number
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-35">
                                        <div class="form-group">
                                            <label>Select Institute</label>
                                            <select required class="form-control form-select"
                                                [(ngModel)]="counselingModel.instituteName" formControlName="selectInst"
                                                [ngClass]="{ 'is-invalid': submitted && f['selectInst'].errors }">
                                                <option disabled>Select Institute
                                                </option>
                                                <option value="{{c.name}}" *ngFor="let c of instituteList">
                                                    {{c.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f['selectInst'].errors" class="invalid-feedback">
                                                <div *ngIf="f['selectInst'].errors['required']">
                                                    Institute
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-50">
                                        <div class="form-group">
                                            <label>Query/Message</label>
                                            <textarea class="from-control" id="message" name="message"
                                                formControlName="message"
                                                [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
                                                placeholder="Enter Query / Message"
                                                [(ngModel)]="counselingModel.message"></textarea>
                                            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                                <div *ngIf="f['message'].errors['required']">
                                                    Institute
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="btn-send" type="submit">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->
</body>
<footer id="rs-footer" class="rs-footer">
    <app-footer></app-footer>
</footer>