<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Hostels</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Hostels</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="col-lg-12 md-mb-50">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">
                            <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn active" id="prod-hostel-tab" data-bs-toggle="tab"
                                        href="#" data-bs-target="#prod-hostel" role="tab"
                                        aria-controls="prod-hostel" aria-selected="true">Hostels</a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-hostel" role="tabpanel"
                                    aria-labelledby="prod-hostel-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                    <div class="row">
                                                        <h4 class="title">
                                                        Charotar Education Society provides hostel facilities for the
                                                        students from outside the city. We have total 4 hostels for Boys
                                                        and Girls in different campuses, Listed below:
                                                        </h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Vidhyarthi Ashram - D. N. High School Campus
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a
                                                                            href=""
                                                                            target="_blank">Vidhyarthi Ashram - D. N. High School Campus</a>
                                                                    </h4>
                                                                    <!-- <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-267404"> (02692) 267404</a>
                                                                    </div> -->
                                                                    <div class="btn-part">
                                                                        <a href=""
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Kasturba Kanya Chhatralay - D. N. High School Campus
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a
                                                                            href=""
                                                                            target="_blank">Kasturba Kanya Chhatralay - D. N. High School Campus</a>
                                                                    </h4>
                                                                    <!-- <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-244415"> (02692) 244415</a>
                                                                    </div> -->
                                                                    <div class="btn-part">
                                                                        <a href=""
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Ladies Hostel- M. B. Patel Science College Campus
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a
                                                                            href=""
                                                                            target="_blank">Ladies Hostel- M. B. Patel Science College Campus</a>
                                                                    </h4>
                                                                    <!-- <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-266679 "> (02692) 266679 </a>
                                                                    </div> -->
                                                                    <div class="btn-part">
                                                                        <a href=""
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Adhyapan Mandir Chhatralay - Mogri Campus
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a
                                                                            href=""
                                                                            target="_blank">Adhyapan Mandir Chhatralay - Mogri Campus</a>
                                                                    </h4>
                                                                    <!-- <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-233000"> (02692) 233000</a>
                                                                    </div> -->
                                                                    <div class="btn-part">
                                                                        <a href=""
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->

        <!-- Newsletter section start -->
        <!-- <div class="rs-newsletter style1 gray-bg orange-color mb-20 sm-mb-0 sm-pb-70">
            <div class="container">
                <div class="newsletter-wrap">
                    <div class="row y-middle">
                        <div class="col-lg-6 col-md-12 md-mb-30">
                            <div class="content-part">
                                <div class="sec-title">
                                    <div class="title-icon md-mb-15">
                                        <img src="assets/images/newsletter.png" alt="images">
                                    </div>
                                    <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <form class="newsletter-form">
                                <input type="email" name="email" placeholder="Enter Your Email" required="">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter section end -->
    </div>


    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>