<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->

        <!-- Breadcrumbs End -->
        <!-- About Section Start -->
        <section class="rs-inner-blog intro-section gray-bg blue-color pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="blog-details">
                    <div class="intro-info-tabs">
                        <div class="content white-bg pt-30">
                            <!-- Cource Overview -->
                            <div class="course-overview">
                                <div class="inner-box ">
                                    <div class="row">
                                        <div class="services-item mt-10">
                                            <div class="services-image">
                                                <div class="d-flex justify-content-between gap-3">
                                                    <div class="services-icons">
                                                        <img src="assets/images/summer/ces logo.png" alt="front">
                                                    </div>
                                                    <div class="services-icons">
                                                        <img src="assets/images/summer/summer-camp.png" alt="front">
                                                    </div>
                                                    <div class="services-icons">
                                                        <img src="assets/images/summer/performing logo.png" alt="front">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-full">
                                        <div class="row">
                                            <div class="blog-desc" style="text-align: justify;">
                                                <div id="rs-services" class="rs-services home12-style"
                                                    style="padding: 15px 0;">
                                                    <div class="container">
                                                        <div class="sec-title4 text-center mb-50">
                                                            <div class="sub-title"><span><b>CES Performing Arts & Fine
                                                                        Arts
                                                                        Academy</b></span> Managed by
                                                                Charotar Education Society, Anand</div>
                                                            <h2 class="title purple-color">Summer Camp 2024-25</h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4 md-mb-30">
                                                                <div class="services-item">
                                                                    <div class="services-image">
                                                                        <div class="services-icons">
                                                                            <img src="assets/images/summer/music.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="services-text">
                                                                            <div class="services-title">
                                                                                <h2 class="title">Music</h2>
                                                                            </div>
                                                                            <p class="text">
                                                                                <b>
                                                                                    CES Student: 400 ₹/- per subject
                                                                                    <br> Outsider
                                                                                    Students:
                                                                                    700 ₹/- 1 subject <br>
                                                                                    Outsider Students: 1200 ₹/- 2
                                                                                    subject</b>
                                                                            </p>
                                                                            <p class="text"><b>Contact: <a
                                                                                        href="tel:+91 87801 13031">+91
                                                                                        87801
                                                                                        13031</a></b>
                                                                            </p>
                                                                            <div style="overflow-x:auto;">
                                                                                <table class="table">
                                                                                    <thead class="text-center">
                                                                                        <tr>
                                                                                            <th class="text-center"
                                                                                                scope="col">
                                                                                                Instruments Type</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>TABLA / DHOLAK</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>GUITAR</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>KEY BOARD</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>HARMONIUM</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>CLASSICAL / LIGHT VOCAL
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>DRUM SET/ OCTAPAD</td>
                                                                                        </tr>
                                                                                    </tbody>

                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 md-mb-30">
                                                                <div class="services-item">
                                                                    <div class="services-image">
                                                                        <div class="services-icons">
                                                                            <img src="assets/images/summer/dance.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="services-text">
                                                                            <div class="services-title">
                                                                                <h2 class="title">Dance</h2>
                                                                            </div>
                                                                            <p class="text">
                                                                                <b>
                                                                                    CES Student: 400 ₹/- per subject
                                                                                    <br> Outsider
                                                                                    Students:
                                                                                    700 ₹/- 1 subject <br>
                                                                                    Outsider Students: 1200 ₹/- 2
                                                                                    subject</b>
                                                                            </p>
                                                                            <p class="text"><b>Contact: <a
                                                                                        href="tel:+91 79905 14155">+91
                                                                                        79905
                                                                                        14155</a></b>
                                                                            </p>
                                                                            <div style="overflow-x:auto;">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="text-center"
                                                                                                scope="col">Dance
                                                                                                Type</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>KATHAK</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>BHARATNATYAM</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>FOLK DANCE</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>BOLLYWOOD FUSION DANCE
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>

                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 md-mb-30">
                                                                <div class="services-item">
                                                                    <div class="services-image">
                                                                        <div class="services-icons">
                                                                            <img src="assets/images/summer/rifle.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="services-text">
                                                                            <div class="services-title">
                                                                                <h2 class="title">RIFLE SHOOTING</h2>
                                                                            </div>
                                                                            <p class="text">
                                                                                <b>
                                                                                    CES Student: 400 ₹/- per subject
                                                                                    <br> Outsider
                                                                                    Students:
                                                                                    700 ₹/- 1 subject <br>
                                                                                    Outsider Students: 1200 ₹/- 2
                                                                                    subject</b>
                                                                            </p>
                                                                            <p class="text"><b>Contact: <a
                                                                                        href="tel:+91 63541 56208">+91
                                                                                        63541
                                                                                        56208</a></b></p>
                                                                            <div style="overflow-x:auto;">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="text-center"
                                                                                                scope="col">RIFLE
                                                                                                SHOOTING</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 md-mb-30">
                                                                <div class="services-item">
                                                                    <div class="services-image">
                                                                        <div class="services-icons">
                                                                            <img src="assets/images/summer/art.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="services-text">
                                                                            <div class="services-title">
                                                                                <h2 class="title">Art & Craft</h2>
                                                                            </div>
                                                                            <p class="text">
                                                                                <b>
                                                                                    CES Student: 700 ₹ <br> Outsider
                                                                                    Students:
                                                                                    1000 ₹</b>
                                                                            </p>
                                                                            <p class="text"><b>Contact: <a
                                                                                        href="tel:+91 97147 35100">+91
                                                                                        97147
                                                                                        35100</a></b>
                                                                            </p>
                                                                            <div style="overflow-x:auto;">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="text-center"
                                                                                                scope="col">Art &
                                                                                                Craft</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>DRAWING</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>PAINTING</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>EMBROIDERY</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>PORTRAIT/STEEL LIFE
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>QUILLING</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>CLAY MODELING/ POTTERY
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>MEHNDI</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>RANGOLI</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>PAPER CRAFT</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>CALLIGRAPHY / CREATIVE
                                                                                                DRAWING</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>GLASS PAINTING</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>FABRIC PAINTING</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>JEWELLERY MAKING</td>
                                                                                        </tr>
                                                                                    </tbody>

                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8 md-mb-30">
                                                                <div class="services-item">
                                                                    <div class="services-image">
                                                                        <div class="services-icons">
                                                                            <img src="assets/images/summer/graphic.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="services-text">
                                                                            <div class="services-title">
                                                                                <h2 class="title">Graphics & Animation
                                                                                </h2>
                                                                            </div>
                                                                            <p class="text"><b>Contact: <a
                                                                                        href="tel:+91 92751 36255">+91
                                                                                        92751
                                                                                        36255</a></b>
                                                                            </p>
                                                                            <div style="overflow-x:auto;">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="text-center"
                                                                                                scope="col">ELIGIBLE
                                                                                                STANDARD</th>
                                                                                            <th class="text-center"
                                                                                                scope="col">COURSE
                                                                                                NAME</th>
                                                                                            <th class="text-center"
                                                                                                scope="col">DURATION
                                                                                            </th>
                                                                                            <th class="text-center"
                                                                                                scope="col">CES FEE
                                                                                            </th>
                                                                                            <th class="text-center"
                                                                                                scope="col">OUTSIDER
                                                                                                FEE</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>6 TO 8</td>
                                                                                            <td>DIGITAL ART</td>
                                                                                            <td>15 DAYS</td>
                                                                                            <td>500 ₹</td>
                                                                                            <td>1000 ₹</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>6 TO 12</td>
                                                                                            <td>DIGITAL MAGIC & PIXEL
                                                                                                ART</td>
                                                                                            <td>25 DAYS</td>
                                                                                            <td>700 ₹</td>
                                                                                            <td>1200 ₹</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>10 TO 12</td>
                                                                                            <td>PHOTO & VIDEO EDITING
                                                                                            </td>
                                                                                            <td>25 DAYS</td>
                                                                                            <td>1000 ₹</td>
                                                                                            <td>1500 ₹</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>10 TO 12</td>
                                                                                            <td>2D ANIMATION &
                                                                                                PRESENTATION MAKING</td>
                                                                                            <td>15 DAYS</td>
                                                                                            <td>1000 ₹</td>
                                                                                            <td>1500 ₹</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>1 TO 5</td>
                                                                                            <td>FUN & LEARN WITH
                                                                                                COMPUTER</td>
                                                                                            <td>15 DAYS</td>
                                                                                            <td>500 ₹</td>
                                                                                            <td>1000 ₹</td>
                                                                                        </tr>
                                                                                    </tbody>

                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-12 text-center pt-45">
                                                            <p class="text"><b>એડમીશન ફોર્મ તથા વધુ વિગતો માટે નીચે
                                                                    જણાવેલ સરનામે રૂબરૂ
                                                                    સંપર્ક કરો. <br>
                                                                    એકેડેમી ઓફિસ, ભોજનાલય હોલની ઉપર, પહેલો માળ, ડી. એન.
                                                                    હાઇસ્કૂલ કેમ્પસ,
                                                                    આણંદ <br>
                                                                    મળવાનો સમય:- સવારે ૯.૦૦ થી ૧૨.૦૦ સુધી
                                                                    સંપર્ક:- ઓફિસ : 83204 16227
                                                                </b> </p>
                                                            <p class="text"><b>Email: <a class=""
                                                                        href="mailto:performingart2015@gmail.com">performingart2015@gmail.com</a></b>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>