<section class="servicesHome mb-100">
    <div class="container-fluid">
       
        <div class="row mt-50 mb-50">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="servicesHome-box">

                    <h2>Rahotkarsh Fund</h2>
                    <p> The objective of ‘Rahatotkarsh Fund’ is to provide financial aid to the poor students who are
                        brilliant and studying in any of the institutions (from KG to PG) managed by Charotar Education
                        Society, Anand. To assist the students who are not receiving any scholarship or economical help
                        and who are willing to study further in order to build their career...  <a routerLink="/basic/fund" routerLinkActive="active">Read More</a></p>

                        <!-- <a routerLink="" routerLinkActive="active" class="btn btn-sm btn-outline-white mb-0">Micro
                            Donation</a> -->



                </div>
                
            </div>
            <div class="col-md-1"></div>


        </div>
    </div>
</section>