<app-navbar></app-navbar>

<body class="defult-home">
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="./assets/images/slider/1.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Colleges</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Colleges</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="col-lg-12 md-mb-50">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">
                            <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn active" id="prod-science-tab" data-bs-toggle="tab"
                                        href="#" data-bs-target="#prod-science" role="tab"
                                        aria-controls="prod-science" aria-selected="true">Science</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="prod-manage-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#prod-manage" role="tab" aria-controls="prod-manage"
                                        aria-selected="false">Management</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#prod-instructor" role="tab" aria-controls="prod-instructor"
                                        aria-selected="false">Commerce</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="arts-colleges-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#arts-colleges" role="tab" aria-controls="arts-colleges"
                                        aria-selected="false">Arts</a>
                                </li>
                                <li class="nav-item tab-btns" role="presentation">
                                    <a class="nav-link tab-btn" id="other-colleges-tab" data-bs-toggle="tab" href="#"
                                        data-bs-target="#other-colleges" role="tab" aria-controls="other-colleges"
                                        aria-selected="false">Others</a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-science" role="tabpanel"
                                    aria-labelledby="prod-science-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri Alpesh N. Patel Post Graduate Institute of Science and Research, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.sanppgi.ac.in/"
                                                                            target="_blank">Shri Alpesh N. Patel Post Graduate Institute of Science and Research</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-267404"> (02692) 267404</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.sanppgi.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">M. B. Patel Science College, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.mbpatelscience.ac.in/"
                                                                            target="_blank">M. B. Patel Science College</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-244415"> (02692) 244415</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.mbpatelscience.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri D. N. Institute of Computer Applications, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.dnica.ac.in/"
                                                                            target="_blank">Shri D. N. Institute of Computer Applications</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-266679 "> (02692) 266679 </a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.dnica.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">M. B. Patel Applied Science College
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.mbpasc.ac.in/"
                                                                            target="_blank">M. B. Patel Applied Science College</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-233000"> (02692) 233000</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.mbpasc.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-manage" role="tabpanel"
                                    aria-labelledby="prod-manage-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri D. N. Institute of Business Administration, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a
                                                                            href="http://www.dniba.ac.in/"
                                                                            target="_blank">Shri D. N. Institute of Business Administration</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-252800 "> (02692) 252800 
                                                                        </a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.dniba.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-instructor" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri D. N. Institute of P. G. Studies in Commerce, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.shridnpgs.ac.in/"
                                                                            target="_blank">Shri D. N. Institute of P. G. Studies in Commerce</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-252804">(02692) 252804</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.shridnpgs.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri V. Z. Patel Commerce College, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a
                                                                            href="http://www.vzcom.ac.in/"
                                                                            target="_blank">Shri V. Z. Patel Commerce College</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-266789"> </a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.vzcom.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="arts-colleges" role="tabpanel"
                                    aria-labelledby="prod-science-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri Bhikhabhai Patel Institute Of P. G. Studies & Research in Humanities, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.bppg.ac.in/"
                                                                            target="_blank">Shri Bhikhabhai Patel Institute Of P. G. Studies & Research in Humanities</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-244043"> (02692) 244043</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.bppg.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri Bhikhabhai Patel Arts College, Anand
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.bpac.ac.in/"
                                                                            target="_blank">Shri Bhikhabhai Patel Arts College, Anand</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-244043"> (02692) 244043</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.bpac.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="other-colleges" role="tabpanel"
                                    aria-labelledby="prod-science-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box ">
                                                <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Motibhai Amin P. S. Adhyapan
                                                                        Mandir (D.EL.Ed.), Mogri
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.maptc.ac.in/"
                                                                            target="_blank">Motibhai Amin P. S. Adhyapan
                                                                            Mandir (D.EL.Ed.)</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-233343"> (02692) 233343</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.maptc.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri I. J. Patel B.Ed. College, Mogri
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.ijbed.ac.in/"
                                                                            target="_blank">Shri I. J. Patel B.Ed. College</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-236266"> (02692) 236266</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.ijbed.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri I. J. Patel M.Ed. College, Mogri
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.ijpmed.ac.in/"
                                                                            target="_blank">Shri I. J. Patel M.Ed. College</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-233064"> (02692) 233064</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.ijpmed.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 mb-30">
                                                            <div class="degree-wrap">
                                                                <img src="assets/images/dummy.jpg" alt="">
                                                                <div class="title-part">
                                                                    <h4 class="title">Shri V. J. Patel College of Physical Education, Mogri
                                                                    </h4>
                                                                </div>
                                                                <div class="content-part">
                                                                    <h4 class="title"><a href="http://www.vjbped.ac.in/"
                                                                            target="_blank">Shri V. J. Patel College of Physical Education</a>
                                                                    </h4>
                                                                    <div class="desc">
                                                                        <i class="flaticon-call"></i>
                                                                        <a href="tel:(02692)-229062"> (02692) 229062</a>
                                                                    </div>
                                                                    <div class="btn-part">
                                                                        <a href="http://www.vjbped.ac.in/"
                                                                            target="_blank">Read More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End intro Courses -->

        <!-- Newsletter section start -->
        <!-- <div class="rs-newsletter style1 gray-bg orange-color mb-20 sm-mb-0 sm-pb-70">
            <div class="container">
                <div class="newsletter-wrap">
                    <div class="row y-middle">
                        <div class="col-lg-6 col-md-12 md-mb-30">
                            <div class="content-part">
                                <div class="sec-title">
                                    <div class="title-icon md-mb-15">
                                        <img src="assets/images/newsletter.png" alt="images">
                                    </div>
                                    <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <form class="newsletter-form">
                                <input type="email" name="email" placeholder="Enter Your Email" required="">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter section end -->
    </div>


    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>