<app-navbar></app-navbar>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
                <div class="breadcrumbs-img">
                    <img src="assets/images/breadcrumbs/5.jpg" alt="Breadcrumbs Image">
                </div>
                <div class="breadcrumbs-text white-color padding">
                    <h1 class="page-title white-color">Contact Us</h1>
                    <ul>
                        <li>
                            <a class="active" href="index.html">Home</a>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div> -->
        <!-- Breadcrumbs End -->

        <!-- Contact Section Start -->
        <div class="contact-page-section pt-40 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row rs-contact-box mb-90 md-mb-50">
                    <div class="col-lg-4 col-md-12-4 lg-pl-0 sm-mb-30 md-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <i class="fa fa-map fa-4x theme-color"></i>
                            </div>
                            <div class="address-text">
                                <span class="label">Address</span>
                                <span class="des">D N High School Campus,
                                    Station road, Anand</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30 md-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <i class="fa fa-envelope fa-4x theme-color"></i>
                            </div>
                            <div class="address-text">
                                <span class="label">Email Address</span>
                                <span class="des"><a
                                        href="mailto:cesociety@cesociety.in">cesociety@cesociety.in</a></span> <br>
                                <!-- <span class="des"><a href="mailto:dnhs@cesociety.in">dnhs@cesociety.in</a></span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <i class="fa fa-phone fa-4x theme-color"></i>
                            </div>
                            <div class="address-text">
                                <span class="label">Phone Number</span>
                                <span class="des"><a href="tel: (02692) - 243083"> (02692) - 243083</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 md-mb-30">
                        <!-- Map Section Start -->
                        <div class="contact-map3">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14739.370814299498!2d72.95740148430436!3d22.547564353224196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e4f51593c1061%3A0xaa5722aabc04fe4!2sCharotar%20Education%20Society!5e0!3m2!1sen!2sin!4v1670951608032!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-60 md-pl-15">
                        <div class="contact-comment-box">
                            <div class="inner-part">
                                <h2 class="title mb-mb-15">Get In Touch</h2>
                                <p>We welcome your inputs and suggestions to constantly improve upon the functioning of
                                    the institute. </p>
                            </div>
                            <div id="form-messages"></div>
                            <form id="contact-form" method="post" action="mailer.php">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="text" id="name" name="name"
                                                placeholder="Name" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="contactModel.name">
                                        </div>
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="text" id="email" name="email"
                                                placeholder="Email" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="contactModel.email">
                                        </div>
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="number" id="conatct" name="conatct"
                                                placeholder="conatct" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="contactModel.contact">
                                        </div>
                                        <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                            <input class="from-control" type="text" id="subject" name="subject"
                                                placeholder="Subject" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="contactModel.subject">
                                        </div>

                                        <div class="col-lg-12 mb-50">
                                            <textarea class="from-control" id="message" name="message"
                                                placeholder=" Message" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="contactModel.message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input class="btn-send" type="submit" (click)="saveContactUSData()">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>